<ng-template #popTemplate>
    <h5>Password must:</h5>
    <ul class="list-unstyled">
      <li *ngIf="+userPasswordLowercase > 0">- Have at least {{userPasswordLowercase}} lower case character</li>
      <li *ngIf="+userPasswordUppercase > 0">- Have at least {{userPasswordUppercase}} capital letter</li>
      <li *ngIf="+userPasswordDigits > 0">- Have at least {{userPasswordDigits}} number</li>
      <li *ngIf="+userPasswordallowSpecialChar > 0">- Have at least {{userPasswordallowSpecialChar}} special characters</li>
      <li *ngIf="+userPasswordLength > 0">- Be at least {{this.userPasswordLength}} characters</li>
      <li>- Not be a common password</li>
    </ul>
  </ng-template>
<div class="row">
    <div class="col-12">
        <form [formGroup]="setPasswordParam" role="form">
            <div class="card c-d-card">
                <div class="card-header">
                    <h5 class="table-title mb-0">{{"Update your new password" | translate}}</h5>
                </div>
                <div class="card-body">
                        <div class="col-md-4 inputs mb-2 ">
                            <div class="country w-100 position-relative">
                                <label class="mainLabel" for="currentPassword">{{'Current Password' | translate}}</label>
                                <div class="d-flex w-100">
                                <input formControlName="currentPassword" class="countryInput border" [type]="oldPasswordShow == true ? 'text':'password'" placeholder="{{'Enter your current password' | translate}}">
                                <i class="fa-regular fa-eye password-hide-show mt-2" *ngIf="oldPasswordShow == false" (click)="showHideOldPassword()"></i>
                                <i class="fa-regular fa-eye-slash password-hide-show mt-2" (click)="showHideOldPassword()" *ngIf="oldPasswordShow == true"></i>
                                </div>
                            </div>
                            <div class="validation-div">
                                <app-validation-message [control]="setPasswordParam.controls['currentPassword']">
                                </app-validation-message>
                            </div>
                        </div>
                
                        <div class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100 position-relative">
                                <label class="mainLabel">{{'New Password ' | translate}}</label>
                                <div class="d-flex w-100">
                                    <input formControlName="newPassword" class="countryInput border" placeholder="{{'Enter your new password' | translate}}"
                                    [type]="newPasswordShow == true ? 'text':'password'"
                                    (keyup)="checkPasswordType(setPasswordParam.controls['newPassword'].value,0)"
                                    (paste)="checkPasswordType(setPasswordParam.controls['newPassword'].value,0)"
                                    (change)="checkPasswordType(setPasswordParam.controls['newPassword'].value,0)">
                                    <i class="fa-regular fa-eye password-hide-show mt-2" *ngIf="newPasswordShow == false" (click)="showHideNewPassword()"></i>
                                    <i class="fa-regular fa-eye-slash password-hide-show mt-2" (click)="showHideNewPassword()" *ngIf="newPasswordShow == true"></i>
                                </div>
                                <span class="password-info" [tooltip]="popTemplate" containerClass="p-m-box" placement="bottom">i</span>
                            </div>
                            <div class="validation-div">
                                <app-validation-message [control]="setPasswordParam.controls['newPassword']" [messages]="errorMsg.newPassword">
                                </app-validation-message>
                              </div>
                              <p [ngClass]="passwordType.className" class="mb-0" *ngIf="passwordType.show == true && setPasswordParam.controls['newPassword'].errors == null">{{passwordType.value}}</p>
                        </div>
                
                        <div class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100 position-relative">
                                <label class="mainLabel ">{{'Confirm Password ' | translate}} </label>
                                <div class="d-flex w-100">
                                    <input formControlName="confirmPassword" class="countryInput border" 
                                    [type]="confirmPasswordShow == true ? 'text':'password'"
                                     placeholder="{{'Enter confirm password' | translate}}">
                                    <i class="fa-regular fa-eye password-hide-show mt-2" *ngIf="confirmPasswordShow == false" (click)="showHideConfirmPassword()"></i>
                                    <i class="fa-regular fa-eye-slash password-hide-show mt-2" (click)="showHideConfirmPassword()" *ngIf="confirmPasswordShow == true"></i>
                                </div>
                            </div>
                            <div class="validation-div">
                                <app-validation-message [control]="setPasswordParam.controls['confirmPassword']" [messages]="errorMsg.confirmPassword">
                                </app-validation-message>
                            </div>
                        </div>
                
                        
                        <div class="col-md-12 mt-3 inputs">
                            <li class="d-flex align-items-center mr-2 my-1">
                                <button type="button" class="search-btn mr-2"  (click)="Save(setPasswordParam.value, setPasswordParam.valid)">{{'Update'}}</button>
                                <button type="button" class="reset-btn" (click)="resetFilter($event)">{{'Reset'}}</button>
                              </li>
                        </div>
                </div>
                </div>
            </form>
    </div>
</div>