<div class="modal-header position-relative d-flex align-items-center">
  <h5 class="modal-title" id="exampleModalLabel">{{title}} : {{viewData.id}}</h5>
  <img (click)="closeModal()" class="ml-auto" src="../assets/images/blackcross.png" aria-label="Close">
  <!-- <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
  </button> -->
</div>
<div class="modal-body">
<ul class="list-unstyled record-list p-0">
  <li *ngIf="noDataFound" class="text-center mb-0 mt-0 pb-0 font-weight-bold">This cart is still in in-progress</li>
  <ng-container *ngIf="!noDataFound">
    <li  *ngFor="let item of viewData.cartItems ; let i=index">
      <div class="media detail-media">
        <img  *ngIf="item.data[0].value == '' ||  item.data[0].value == null ||  item.data[0].value == ' '" src="../../../assets/images/cartview_alter.png" height="90px" width="90px" alt="" class="mr-3" />
        <img  *ngIf="item.data[0].value != ' ' && item.data[0].value != null " [src]="item.data[0].value"  alt="" class="mr-3" />
        <div class="media-body">
          <div class="row">
            <div class="col-12">
              <h2 class="my-0">{{item.data[1].value}}</h2>
              <p *ngIf="item.itemPrice.length==0" class="mb-1">Price for current cart item is not yet available</p>
            </div>
            <div class="width1 px-3">
              <h4>Recurring Charges {{getFieldCount(i,"Recurring")}}</h4>
              <p>{{item.data[2].value}}</p>
            </div>
            <div class="width1 px-3">
              <h4>One Time Charges {{getFieldCount(i,"Non Recurring")}}</h4>
              <p>{{item.data[3].value}}</p>
            </div>
            <div class="width2 px-3">
              <h4>Deposit {{getFieldCount(i,"Deposit")}}</h4>
              <p>{{item.data[4].value}}</p>
            </div>
            <div class="width2 px-3">
              <h4>Total</h4>
              <p>{{item.data[5].value}}</p>
            </div>
            <div class="width2 px-3">
              <h4>Status</h4>
              <p>{{viewData.status}}</p>
            </div>
          </div>
        </div>
      </div>
    
  </li>
  </ng-container>
   
</ul>
 
</div>