<div *ngIf="view == true">
    <div class="header d-flex flex-wrap align-items-center">
        <div class="page-title">
            <h4 class="mr-3 block-title my-0 p-1">{{'Cart Management' | translate}}</h4>
        </div>
    </div>
    
    <div class="row mb-3 mt-3">
        <div class="col-md-3">
            <div class="card user-card p-3 border-green">
                <div class="row no-gutters "> 
                    <div class="col">
                        <div class="card-block px-2 ">
                            <h4 class="card-title m-0">{{openCount}}</h4>
                            <p class="card-text">{{'Active Carts (Current Month)' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-auto pt-2">
                        <img src="../../../../assets/images/opencart.svg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card user-card p-3 border-red">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-block px-2">
                            <h4 class="card-title m-0">{{closedCount}}</h4>
                            <p class="card-text">{{'Closed Carts (Current Month)' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-auto pt-2">
                        <img src="../../../../assets/images/closedCart.svg" class="img-fluid" alt="">
                    </div>
                    
                </div>
          </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="cartForm" role="form">
                <div class="card c-d-card">
                    <div class="card-header">
                        <h5 class="table-title mb-0">Search Cart</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col-md-4 inputs mb-2 ">
                                <div class="country w-100">
                                    <label class="mainLabel" for="" formControlName="id">{{'Cart ID' | translate}}</label>
                                    <input formControlName="id" class="countryInput border" type="number" (paste)="checkInput($event)"  (keydown)="checkInput($event)" placeholder="{{'Please enter cart id' | translate}}">
                                    <div class="validation-div">
                                        <app-validation-message [control]="cartForm.controls['id']" [messages]="errorMsg.id">
                                        </app-validation-message>
                                    </div>
                                </div>
                            </div> -->
                    
                            <div class="col-md-4 inputs mb-2 "  >
                                <div class="country w-100">
                                    <label class="mainLabel">{{'From Date (Created date)' | translate}}</label>
                                      <mat-form-field color="accent" appearance="fill" class="countryInput" (click)="picker1.open()" >
                                          <input matInput [matDatepicker]="picker1" formControlName="startDate" [max]="endDate"  readonly placeholder="Please Select From Date"  (dateChange)="setdate($event)" >
                                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker disabled="false" #picker1 color="primary" ></mat-datepicker>
                                      </mat-form-field>
                                    <div class="validation-div">
                                        <app-validation-message [control]="cartForm.controls['startDate']" [messages]="errorMsg.startDate">
                                        </app-validation-message>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-md-4 inputs mb-2 "  >
                                <div class="country w-100">
                                    <label class="mainLabel ">{{'To Date (Created date)' | translate}} </label>
                                    <mat-form-field color="accent" appearance="fill" class="countryInput"  (click)="picker2.open()">
                                        <input matInput [matDatepicker]="picker2" formControlName="endDate" [max]="today" (dateChange)="setEndDate($event)" readonly placeholder="Please Select To Date" [min]="startdate" >
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker disabled="false" #picker2 color="primary" ></mat-datepicker>
                                    </mat-form-field>
                                    <div class="validation-div">
                                        <app-validation-message [control]="cartForm.controls['endDate']" [messages]="errorMsg.endDate">
                                        </app-validation-message>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-md-12 my-2 inputs">
                                <div class="statusContainer">
                                    <label class="mainLabel" for="status">{{'LOCATION.Status' | translate}}</label>
                                    <div class="statusInputs">
                                        <mat-radio-group formControlName="status" aria-label="Select an option">
                                            <mat-radio-button  value='100'>{{'All' | translate}}</mat-radio-button>    
                                            <mat-radio-button  value=active>{{'Active' | translate}}</mat-radio-button>
                                            <mat-radio-button   value=closed name="status">{{'Closed' | translate}}</mat-radio-button>
                                            <mat-radio-button   value=expired name="status">{{'Expired' | translate}}</mat-radio-button>
                                            <mat-radio-button   value=abourted name="status">{{'Aborted' | translate}}</mat-radio-button>
                                            <!-- <mat-radio-button  value=0>{{'Order Created' | translate}}</mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>               
                                </div>
                            </div>
                            <div class="col-md-12 mt-3 inputs">
                                <li class="d-flex align-items-center mr-2 my-1">
                                    <button type="button" class="search-btn mr-2"  (click)="Search()">{{'Search' | translate}}</button>
                                    <button type="button" class="reset-btn" (click)="resetFilter()">{{'DATE_PICKER.RESET' | translate}}</button>
                                  </li>
                            </div>
                         </div>
                    </div>
                    </div>
                </form>
        </div>
    </div>
      <!-- <div class="card user-card col-lg-3 col-md-3 col-sm-3 col-12 p-3 mr-3">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title m-0">120</h4>
                    <p class="card-text">{{'CART.Carts_converted_into_orders' | translate}}</p>
                </div>
            </div>
            <div class="col-auto pt-2">
                <img src="../assets/images/box-card.png" class="img-fluid" alt="">
            </div>
            
        </div>
    </div> -->
    
        
    <div class="row mt-2">
        <app-available-list *ngIf="listTable" [firstPage]="firstPage" [tablePageLimit]="tablePageLimit" [tablename]="tableName" [tableSort]="cartTableSort" [recordList]="cartTable" [formDataSet]="cartTable" [shorting]="true" [searching]="false"   [searchFields]="cartTableSearchFields" [columnCount]="columnCount" [showFilters]="showFilters" [showNoData]="showNoData" [totalItems]="totalItems" [tableFields]="cartTableFields" [tableHeading]="cartTableHeading" (listApiCall)="listApiCall($event)"  (viewInfo)="viewInfo($event)" (searchCall)="keySearch($event)" class="w-100"></app-available-list>
    </div>
</div>

