@import '../../../variable.scss';
.search-btn{
    background-color: #FFCC00;
}
.reset-btn{
    background: #fff;
    border: 1px solid #C1C1C1;
}
.error{
    color: red;
    font-size: $font-size-14;
}
.key-lable{
    font-weight: 500 !important;
    font-size: $font-size-18;
}
.key-description{
    font-weight: 900 !important;
    font-size: $font-size-18;
}