

<div class="modal-header position-relative p-1">
    <h5 class="modal-title custom-title mt-0" id="exampleModalLabel">Editor</h5>
   
    <button type="button" class="close px-2 py-0" data-dismiss="modal" (click)="closeModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body p-1">

    <p class="mb-2 ml-3 key-lable">Configurable Key : {{configurableKey}}</p>
    <p class="mb-2 ml-3 key-description">Configurable Description : {{description}}</p>

    <div class = "container"> 

      <!-- <div class="row mt-3">
          <div id='input_container' class='col-md-12'>
              <label for="Textarea1">Enter a json array of objects</label>
              <textarea class="form-control" id="Textarea1" rows="8">
                    {{records}}
                  </textarea>
          </div>
      </div> -->

      <!-- <div class="row">
          <div class='col-md-4'></div>
          <div id='button_container' (click)="callFunction()" class='col-md-3'>
              <button id='json_to_table_btn' type="button" class="btn btn-primary btn-lg btn-block">JSON to
                  Table</button>
          </div>
      </div> -->

      <div class="row ">
          <div id='table_container' class='col-md-12 table-responsive'></div>
      </div>
      <p *ngIf="error == true" class="error">{{ errorMsg| translate}}</p>
      <div class="row mt-3">
          <div id='button_container' *ngIf="addRow == true" class="ml-auto">
          <button id='table_to_json_btn' type="button" onclick="addRow()"  id="add" disabled class="search-btn ml-auto">Add Row</button>
          </div>
          <div id='button_container' (click)="getJson()" class="ml-auto">
              <button id='table_to_json_btn' type="button" class="search-btn ml-auto">Save</button>
          </div>
          <div id='button_container' class="mr-auto">
            <button type="button" class="reset-btn ml-2 mr-auto" data-dismiss="modal" (click)="closeModal()" aria-label="Close">Cancel</button>
        </div>
      </div>

      <div class="row mt-3">
          <div id='result_container' class='col-md-12'></div>
      </div>
      
  </div>

    

  
  
   
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

<script src="jsoneditor.js"></script>
  <script>

    $(document).ready(function () {

        jsonEditorInit('table_container', 'Textarea1', 'result_container', 'json_to_table_btn', 'table_to_json_btn');

    });

</script>
