<div class="container-fluid p-0">
    <form [formGroup]="ticketForm" role="form">

    <div class="card c-d-card">
        <div class="card-header p-3 d-flex">
            <h5 *ngIf="createTicket " class="table-title mb-0">{{'Create' | translate}} </h5>
            <h5 *ngIf="!createTicket " class="table-title mb-0">{{'Search' | translate}} </h5>
            <button *ngIf="!forminputs.ticketType" class="language-en-btn ml-auto mr-0 py-1" [ngClass]="{'yellow-bg': ticketForm.value.language == 'en'}" type="button" (click)="changeLanguage('en')" >{{'en' | uppercase}}</button>
            <button *ngIf="!forminputs.ticketType" class="language-ar-btn py-1" [ngClass]="{'yellow-bg':  ticketForm.value.language == otherLanguage?.configurableValue?.abbreviation}" type="button" (click)="changeLanguage(otherLanguage?.configurableValue?.abbreviation)" >{{otherLanguage?.configurableValue?.abbreviation | uppercase}}</button>
        </div>
        <div class="card-body p-3">
            <div>
                <div>
                    <!-- <div  *ngIf="!forminputs.ticketType" class="col-lg-4 col-md-4 col-sm-6 mb-3 col-xs-12 form-group p-0">
                        <div  class="statusContainer">
                            <label class="mainLabel" for="language">{{'Language' | translate}}</label>
                            <div class="statusInputs">
                                <mat-radio-group formControlName="language" (change)="changeLanguage()" aria-label="Select an option">
                                   
                                    <mat-radio-button   value='en' name="language">{{'English'| translate}}</mat-radio-button>
                                    <mat-radio-button  value='ar'>{{'عربى' | translate}}</mat-radio-button>
                                </mat-radio-group>
                            </div>               
                        </div>
                    </div> -->
                    <div class="row">
        
                        <!-- ticket Type -->
                        <!-- input -->
                       
                        <div *ngIf="forminputs.ticketType " class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                <label class="mainLabel" for="">{{'Ticket Type' | translate}}<span *ngIf="createTicket" class="mandatory" >*</span></label>
                                <input class="countryInput" formControlName="ticketType" type="text" (paste)="checkInput($event)"  (keydown)="checkInput($event)" placeholder="{{'Enter Ticket Type' | translate}}">
                                <div class="validation-div">
                                    <app-validation-message  [control]="ticketForm.controls['ticketType']" [messages]="errorMsg.ticketType">
                                    </app-validation-message>
                                </div>  
                            </div>
                        </div>
                
                        <!-- dropdown -->
                        <div *ngIf = "forminputs.ticketTypeDropdown" class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                <label class="mainLabel" for="">{{'Ticket Type' | translate}}<span *ngIf="createTicket" class="mandatory" >*</span></label>
                
                                <select  formControlName="ticketTypeDropdown" class="countryInput bg-white" (change)="onSelectDropdown('ticketTypeDropdown','category')">
                                    <option value="" >{{'LOCATION.Please_Select' | translate}}</option>
                                    <option *ngFor="let item of ticketData" [value]="item.id" >
                                        {{item.title}}
                                      </option>
                                </select> 
                                <div class="validation-div">
                                    <app-validation-message [control]="ticketForm.controls['ticketTypeDropdown']" messages="{{errorMsg.ticketTypeDropdown | translate}}">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>
                      
                
                        <!-- category -->
                
                        <!-- input -->
                        <div *ngIf="forminputs.category" class="col-md-4 inputs mb-2 ">
                            <div class="country w-100">
                                <label class="mainLabel" for="">{{'Category' | translate}} <span *ngIf="createTicket" class="mandatory" >*</span></label>
                                <input class="countryInput" formControlName="category" [dir]="ticketForm.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" type="text" (paste)="checkInput($event)" (keydown)="checkInput($event)" placeholder="{{'Enter Category' | translate}}">
                                <div class="validation-div">
                                    <app-validation-message class="fix" [control]="ticketForm.controls['category']" [messages]="errorMsg.category">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>

                
                        <!-- dropdown -->
                        <div *ngIf = "forminputs.categoryDropdown" class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                  <label class="mainLabel" for="">{{'category' | translate}}<span *ngIf="createTicket" class="mandatory" >*</span></label>
                                 <select formControlName="categoryDropdown" [dir]="ticketForm.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'"  class="countryInput bg-white"  >
                                     <option value="" >{{'LOCATION.Please_Select' | translate}}</option>
                                     <option *ngFor="let item of categoryData" [value]="item.id" >
                                         {{ticketForm.get('language').value == 'en' ?item.title:item[otherLanguage?.configurableValue?.title] }}
                                     </option>
                                 </select> 
                                 <div class="validation-div">
                                     <app-validation-message [control]="ticketForm.controls['categoryDropdown']" messages="{{errorMsg.categoryDropdown | translate}}">
                                     </app-validation-message>
                                 </div>
                             </div>
                         </div>
                 
 
                        <!-- sub-Category -->
                
                        <!-- input -->
                        <div  *ngIf="forminputs.subCategory"  class="col-md-4 inputs mb-2 ">
                            <div class="country w-100">
                                <label class="mainLabel" for="">{{'Sub-Category' | translate}}<span *ngIf="createTicket" class="mandatory" >*</span></label>
                                <input formControlName="subCategory" class="countryInput" type="text" [dir]="ticketForm.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (paste)="checkInput($event)"  (keydown)="checkInput($event)" placeholder="{{'Enter Sub-Category' | translate}}">
                                <div class="validation-div">
                                    <app-validation-message [control]="ticketForm.controls['subCategory']" [messages]="errorMsg.subCategory">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row   align-items-start my-2">
                        <!-- status radio button search page -->
                        <div *ngIf="!createTicket && !forminputs.ticketType" class="col-md-12 my-2 inputs">
                            <div class="statusContainer">
                                <label class="mainLabel" for="status">{{'LOCATION.Status' | translate}}<span *ngIf="createTicket" class="mandatory" >*</span></label>
                                <div class="statusInputs">
                                    <mat-radio-group formControlName="status" aria-label="Select an option">
                                        <mat-radio-button  value=100>{{'LOCATION.All' | translate}}</mat-radio-button>
                                        <mat-radio-button   value=1 name="status">{{'LOCATION.Active' | translate}}</mat-radio-button>
                                        <mat-radio-button  value=0>{{'LOCATION.Inactive' | translate}}</mat-radio-button>
                                        
                                    </mat-radio-group>
                                </div>               
                            </div>
                        </div>
                        <!-- status switch enable disable  create page  -->
                        <div *ngIf="createTicket" class="inputs mb-4 d-flex justify-content-start align-self-end col-md-4"  >
                            <div class="country w-100">
                                <div class="enable_status_Container mt-2 rounded-lg w-100">
                                    <p class="enable_status_Container_left ml-2">Status</p>
                                    <div class="enable_status_Container_right  mr-2">
                                        <p class="enablePara" style="color: green;" *ngIf="isChecked">{{'LOCATION.Active' | translate}}</p>
                                        <p class="enablePara" style="color: red;" *ngIf="!isChecked">{{'LOCATION.Inactive' | translate}}</p>
                                        <label class="switch ml-3">
                                            <input formControlName="isChecked" (click)="func()" type="checkbox"  [(ngModel)]="isChecked">
                                            <span   class="slider round "></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" buttonDiv mb-0">
                        <!-- search page button -->
                        
                        <button class="search-btn mr-2" *ngIf="!createTicket " type="submit" (click)="onSubmit(true)" >{{'LOCATION.Search' | translate}}</button>
                        <button class="reset-btn mr-0" *ngIf="!createTicket " (click)="resetForm()" >{{'LOCATION.Reset' | translate}}</button>
                        <!-- create page button -->
                        <button class="search-btn mr-2" *ngIf="createTicket " type="submit"   (click)="onSubmit(false)" >{{'LOCATION.Save' | translate}}</button>
                        <button type="button" class="reset-btn mr-0"  *ngIf="createTicket" (click)="backToTable()">{{'LOCATION.Cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
