<mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false"
[logoLink]="['/','home']">
<mk-layout-header-logo><img src="../assets/images/logo-mini.png" width="200"></mk-layout-header-logo>
<mk-layout-header-logo-mini><img src="../assets/images/logo-mini.png" class="logo-min-g">
</mk-layout-header-logo-mini>
<!-- <form class="form-inline mr-auto ml-4 g-s-input">
        <input type="search" placeholder="Type here to search......">
        <button type="submit">Search</button>
  </form> -->
<div class="profile-users">
    <li class="nav-item dropdown d-flex align-items-center">
      <!-- <div class="p-3">
        <select class="form-select lng-drop-down px-2" [(ngModel)]="language" (change)="changeLanguage()" aria-label="Default select example">
          <option selected value="en">English</option>
          <option value="ar">عربى</option>
         
        </select>
      </div> -->
        <!-- <img src="../assets/images/notification.png" class="logo-notification">  -->
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../assets/images/user.png" class="logo-min-g mr-2"> {{userInfo?.firstName}}  {{userInfo?.lastName}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="my-profile/profile">{{'my_profile' | translate}}</a>
            <a class="dropdown-item"routerLink="my-profile/change-password">{{'change_password' | translate}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">{{'settings' | translate}}</a>
          </div>
        </div>
      </li>
</div>
</mk-layout-header>