.profile-users{
    margin-right:1%;
    > li{
        list-style:none;
        > a{
            color: #000;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2px;        
        }
    }
}
.profile-name{
    font-size: 1rem;
    color: #fff;
    font-family: ''Helvetica Neue' Helvetica, Arial, sans-serif !important';
    cursor: pointer;
    &:first-child{
        padding-right: 12px;
    }
    a{
        font-size: 1rem;
        color: #fff;
        font-family: ''Helvetica Neue' Helvetica, Arial, sans-serif !important';
    }
}
.logo-notification{
  width: 36px;
  object-fit: contain;
  height: 36px;
  border-radius: 20px !important;
}
.logo-min-g{
    width: 36px;
    object-fit: contain;
    height: 36px;
    border-radius: 20px !important;
    border: 1px solid #fff !important;
    padding: 2px;
}

form {
    color: #000;
    display: flex;
    padding: 2px;
    background-color: #fddf81;
    border-radius: 5px;
    width: 400px;
    // border: 1px solid currentColor;
    // border-radius: 5px;
    // margin: 0 0 30px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 89%;
  }
  
  input[type="search"]::placeholder {
    color:#868E96;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }

  .dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .1em;
    content: "";
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
}

.lng-drop-down{
  border: none;
  background: transparent;
}

.lng-drop-down:focus-visible{
  border: none !important;
  background: transparent !important;
  outline: unset !important;
}
.g-s-input{
  input{
    height: 40px;
  }
}
.dropdown-toggle{
  color: #161300 !important;
}
.dropdown-item.active, .dropdown-item:active{
  color: #000 !important;
    text-decoration: none;
    background-color: #ffcc00 !important;
}