



<div class="header d-flex flex-wrap align-items-center">
    <h4 class="mr-3 block-title my-0 mb-2 location-title">{{'Import'| translate}} </h4>  
    
</div>
<div class="col-md-12 px-0" >
    <app-drag-drop [type]="typeTable"  [uploadUrl]="uploadUrl" [csvUploadTitles]="csvUploadTitles" [paramObj]="uploadCsvParamsObj"  (downloadCSVSample)="downloadCSVSample()" (back)="hideCsvUpload()"   [tableData]="tableData" [prerequisitiesData]="prerequisitiesData" ></app-drag-drop>
  </div>