.buttonDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

.search-btn{
    background-color: #FFCC00;
    border: none;
    outline: none;
}


button{
    margin-right: 1.5rem;
    width: 140px;
    padding: 8px 20px;
    border-radius: 5px
}

[type="checkbox"], [type="radio"] {
    height:20px; 
    width:20px;
    background-color: #FFCC00;
    color: #FFCC00;
    outline: white;
    border: white;
    box-shadow: none !important;
  }
  .list-unstyled{
      line-height: 2 !important;
  }
  .modal-title{
      img{
          width: 45px !important;
      }
  }