<div class="header d-flex flex-wrap align-items-center">
  <h4 class="mr-3 block-title my-0 mb-2 location-title">
    {{ "Export" | translate }}
  </h4>
</div>
<div class="">
  <form [formGroup]="bulkparam" role="form" class="w-100">
    <div class="row">
      <div class="col-md-6">
        <div class="card c-d-card">
          <div class="card-header p-3 d-flex">
            <h5 class="table-title mb-0">{{ "Modules" | translate }}</h5>
          </div>
          <div class="card-body p-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td class="border-0">Select</td>
                  <td class="border-0">Sr.No</td>
                  <td class="border-0">Master Data Configuration</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let module of systemMenu; let i = index">
                  <td>
                    <mat-checkbox
                      class="amateur mat-custom-chckbox"
                      color="primary"
                      [checked]="module.check == true"
                      (change)="moduleChange(module.configGroupName, $event)"
                    ></mat-checkbox>
                  </td>
                  <td>{{ i + 1 }}</td>
                  <td>{{ module.configGroupName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6" *ngIf="newflag">
        <div class="card c-d-card pb-3">
          <div class="card-header p-3 d-flex">
            <h5 class="table-title mb-0">{{ "Sub Modules " | translate }}</h5>
          </div>
          <div
            class="card-body pb-0"
            *ngFor="let module of submoduelsArray; let i = index"
          >
            <h6>{{ module.configGroupName }}</h6>

            <div>
              <ul class="list-unstyled">
                <div *ngIf="module.child">
                  <li
                    *ngFor="let submodule of module.child; let i = index"
                    class="d-flex align-items-center"
                  >
                    <mat-checkbox
                      class="amateur mat-custom-chckbox"
                      color="primary"
                      [id]="module.configGroupName + submodule.name"
                      [checked]="submodule.check"
                      (change)="
                        submit(module.configGroupName, submodule.name, $event)
                      "
                      >{{ submodule.name }}</mat-checkbox
                    >
                  </li>
                </div>
                <div
                  *ngIf="module.child.length == 0"
                  class="d-flex align-items-center"
                >
                  <p class="pb-0 mb-0">none</p>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="submoduelsArray.length>0" class="buttonDiv">
          <button class="search-btn" type="submit" [disabled]="selectedModule == {}" (click)="onSubmit('csv',template,errorTemp)" >{{ "Export CSV" | translate }}</button>
          <button class="search-btn" type="submit" [disabled]="selectedModule == {}" (click)="onSubmit('xlxs',template,errorTemp)" >{{ "Export XLS" | translate }}</button>
        </div>
      </div>
      
    </div>
  </form>
</div>

<ng-template #template>
  <div class="modal-header border-0 pb-0 flex-wrap">
    <h5
      class="modal-title custom-title w-100 mt-0 text-center"
      id="exampleModalLabel"
    >
      <img src="../assets/images/success.png" />
    </h5>
  </div>
  <div class="modal-body text-center">
    <div
      class="kt-scroll ps ps--active-y custom-text"
      data-scroll="true"
      style="overflow: hidden"
    >
      <p>{{ successMsg }}</p>
    </div>
  </div>
  <div
    class="modal-footer border-0 d-flex justify-content-center align-items-center"
  >
    <button type="button" class="search-btn" (click)="modalRef.hide()">
      {{ "OK" }}
    </button>
  </div>
</ng-template>

<ng-template #errorTemp>
  <div class="modal-header border-0 pb-0 flex-wrap">
    <h5
      class="modal-title custom-title w-100 mt-0 text-center"
      id="exampleModalLabel"
    >
      <img src="../assets/images/Close.png" />
    </h5>
  </div>
  <div class="modal-body text-center">
    <div
      class="kt-scroll ps ps--active-y custom-text"
      data-scroll="true"
      style="overflow: hidden"
    >
      <p>{{ errorMsg }}</p>
    </div>
  </div>
  <div
    class="modal-footer border-0 d-flex justify-content-center align-items-center"
  >
    <button type="button" class="search-btn" (click)="modalRef.hide()">
      {{ "OK" }}
    </button>
  </div>
</ng-template>
