<div class="header d-flex flex-wrap align-items-center" *ngIf="view == true">
  <h4 class="mr-3 block-title my-0 mb-2 location-title">{{ tabs[activeTab] | capitalfirstLetter | translate }} Management</h4>  
  <div class=" d-flex ml-auto">
    <button type="button" class="btn btn-common mb-2 py-2" (click)="showCreateForm()" *ngIf="!uploadCsv && !createLocation && create"><i class="fa-solid fa-plus mr-2"></i>{{'LOCATION.Create' | translate}} {{ tabs[activeTab] | capitalfirstLetter| translate}}</button>
    <button type="button" class="btn btn-common ml-3 mb-2"  (click)="showCsvUpload()"  *ngIf="!uploadCsv && !createLocation && import"><i class="fa-solid fa-arrow-up-from-bracket mr-2"></i>{{'LOCATION.Upload_csv' | translate}}</button>
  </div>
  
</div>


<app-drag-drop [type]="tabs[activeTab]"  [uploadUrl]="uploadUrl" [csvUploadTitles]="csvUploadTitles" [paramObj]="paramsObj" *ngIf="uploadCsv && view == true"  (downloadCSVSample)="downloadCSVSample()" (back)="hideCsvUpload()" [formFields]="formFields[activeTab]"  [forminputs]="activeTab" [tableData]="tableData" [prerequisitiesData]="prerequisitiesData" ></app-drag-drop>

<app-zip-code-management  *ngIf="location_table && !uploadCsv && view == true" [edit]="edit" [delete]="delete" [export]="export" [createLocation]="createLocation" [tableFilds]="tableFields[activeTab]" [locationType]="tabs[activeTab]" [formFields]="formFields[activeTab]" [forminputs]="forminputs[activeTab]"   (back)="hideCreateForm()"></app-zip-code-management>
