.mat-ink-bar{
    background-color: #FFCC00;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:  #FFCC00;
}

.tabHeading{
    font-weight: bold;
    font-size: 20px;
}

.mat-tab-label-content{
    font-size: 17px;
}

.btn-common{
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;
}