<div class="modal-content d-none">
    <div class="modal-header">
        <h5 class="modal-title custom-title mt-0" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close"><i class="fa-solid fa-xmark-large"></i>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="kt-scroll ps ps--active-y custom-text" data-scroll="true" style="overflow: hidden;">
            <p>{{confirmText}}</p>
        </div>
        <!-- <div class="timer" *ngIf="title=='Session Timeout'">
            <div class="base-timer">
              <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <g class="base-timer__circle">
                 
                  <path id="base-timer-path-remaining" stroke-dasharray="283"
                    class="base-timer__path-remaining" d="
                    M 50, 50
                    m -45, 0
                    a 45,45 0 1,0 90,0
                    a 45,45 0 1,0 -90,0
                  "></path>
                </g>
              </svg>
              <span id="base-timer-label" class="base-timer__label">
                {{ idleTimerLeft }}
              </span>
            </div>
          </div> -->
        <!-- <ul class="list-unstyled list-inline mt-2 text-center">
            <li class="list-inline-item mr-2">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="yes" name="example1" value="customEx">
                    <label class="custom-control-label" for="yes">Yes</label>
                  </div>
            </li>
            <li class="list-inline-item ml-2">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="no" name="example1" value="customEx">
                    <label class="custom-control-label" for="no">No</label>
                  </div>
            </li>
        </ul> -->
    </div>
    <div class="modal-footer d-flex">
      <button type="button" *ngIf="cancleButtonText" class="btn btn-secondary flex-grow-1"
          [ngClass]="{'btn-danger':list && list.changeBtnColor}" data-dismiss="modal"
          (click)="choice(false)">{{cancleButtonText}}</button>
          <button type="button" *ngIf="closeButtonText" class="btn btn-danger flex-grow-1"
           data-dismiss="modal"
          (click)="choice(false)">{{closeButtonText}}</button>
      <button type="button" class="btn btn-success btn--success flex-grow-1" [ngClass]="{'assign-device-btn':list && list.changeBtnColor}"
          (click)="choice(true)">{{acceptButtonText}}</button>
  </div>
</div>

<div class="modal-header border-0 pb-0 flex-wrap">
  <h5 class="modal-title custom-title w-100 mt-0" id="exampleModalLabel">
    <b>{{title}}</b>
  </h5>
  <hr class="divider-hr">
</div>
<div class="modal-body text-center">
  <div class="kt-scroll ps ps--active-y custom-text" data-scroll="true" style="overflow: hidden;">
    <p class="next-line">{{confirmText}}</p>   
  </div>
  <div class="timer" *ngIf="title=='Session Timeout'">
    <div class="base-timer">
      <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g class="base-timer__circle">
          <!-- <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" /> -->
          <path id="base-timer-path-remaining" stroke-dasharray="283"
            class="base-timer__path-remaining" d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "></path>
        </g>
      </svg>
      <span id="base-timer-label" class="base-timer__label">
        {{ idleTimerLeft }}
      </span>
    </div>
  </div>
</div>
<div class="modal-footer border-0 d-flex justify-content-center align-items-center">
  <button type="button" class="search-btn" [ngClass]="{'assign-device-btn':list && list.changeBtnColor}"
          (click)="choice(true)">{{acceptButtonText}}</button>
  <button type="button" *ngIf="cancleButtonText" class="reset-btn ml-2"
          [ngClass]="{'btn-danger':list && list.changeBtnColor}" data-dismiss="modal"
          (click)="choice(false)">{{cancleButtonText}}</button>
          <button type="button" *ngIf="closeButtonText" class="reset-btn ml-2"
           data-dismiss="modal"
          (click)="choice(false)">{{closeButtonText}}</button>
      
 
</div>