// .assign-device-btn {
//     background-color: #6c757d !important;
//     border-color: #6c757d !important;
// }


.custom-radio{
    .custom-control-input:checked~.custom-control-label::after {
        background-image: unset;
        background: #3a7bff;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        top: 6px;
        right: -5px;
        left: -22px;
        border: 2px solid #fff;
}
    .custom-control-label::before {
        background-color: #fff;
        border: #0080ff solid 2px;
        box-shadow: none;
    }
}

.timer {
 
    .base-timer {
      position: relative;
      height: 40px;
      width: 40px;
      margin: auto;
    }
  
    .base-timer__circle {
      fill: none;
      stroke: none;
    }
  
    .base-timer__path-elapsed {
      stroke-width: 7px;
      stroke: grey;
    }
  
    .base-timer__label {
      position: absolute;
      width: 41px;
      height: 40px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
  
    .base-timer__path-remaining {
      stroke-width: 7px;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 1s linear all;
      stroke: currentColor;
      color: #FFCC00;
    }
  
    .base-timer__svg {
      transform: scaleX(-1);
    }
  }
  .close:focus-visible{
    outline: none !important;
  }
  .close{
    position: absolute;
    right: 15px;
    outline: none !important;
  }
  .search-btn{
    background-color: #FFCC00;
}
.reset-btn{
    background: #fff;
    border: 1px solid #C1C1C1;
}
.next-line{
  white-space: pre-line !important;
}