<div class="header d-flex flex-wrap align-items-center">
    <h4 class="mr-3 block-title my-0 mb-2 location-title">{{mainTital}} </h4>  
    
</div>


<app-create-configuration  *ngIf="activeConfigurationTab !== customerManagementTabList.CUSTOMER_ACCESS" [mainTital]="mainTital" [paramsObj]="paramsObj" [activeConfigurationTab]="activeConfigurationTab"   (searchByForm)="searchByForm($event)"      (listApiCall)="listApiCall($event)" [createConfig]="createConfig" (back)="closeForm($event)" ></app-create-configuration>



<div *ngIf="activeConfigurationTab == 'Otp' || activeConfigurationTab == 'Password'" class="btn-group mt-2 tab-button-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary otp-tab px-3 py-2 mr-0 " [ngClass]="{'active' : otp}" (click)="otp_table()" >OTP management </button>
    <button type="button" class="btn btn-secondary password-policy-tab px-3 py-2 mr-0" [ngClass]="{'active' : password}" (click)="password_table()">Password Policy</button>
</div>

<div  *ngIf="activeConfigurationTab !== customerManagementTabList.CUSTOMER_ACCESS && listTable" class="row mt-2">
    <app-available-list *ngIf="!createConfig && !uploadCsv" [typeTable]="typeTable" [deleteButtonShow]="false" [editTableItem]="edit" [exportData]="export"  [deleteData]="delete" [exportData]="export" [tableSort]="sysTablSort" [tablePageLimit]="tablePageLimit" [firstPage]="firstPage" [tableHeading]="sysTableFields" [searching]="true" [shorting]="true"   [tablename]=" tablename" [formDataSet]="sysTable" [recordList]="sysTable" [editInputs]="true" [editupdate]="true" [editStatus]="true"  (editLocation)="editLocation($event)" (deleteLocation)="deleteLocation($event)" [columnCount]="columnCount" [showFilters]="showFilters" [showNoData]="showNoData" [totalItems]="totalItems" [tableFields]="sysTableFields" [searchFields]="sysTablSearchFields" (listApiCall)="listApiCall($event)" (editInfo)="editInfo($event)"  (searchCall)="keySearch($event)" class="w-100"></app-available-list>      
</div>


<div *ngIf="activeConfigurationTab == customerManagementTabList.CUSTOMER_ACCESS" class="mt-2">
    <app-b2-b-table [edit]="edit"  [activeConfigurationTab]="activeConfigurationTab"></app-b2-b-table>
</div>


