
 
.btn-common{
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;
}
.tab-button-group{
    button{
      background-color: #fff;
      color: black !important;
      border: 0;
      outline: 0;
      outline: none;
      &.active{
        background-color: #FFCC00 !important;
        box-shadow: none !important;
      }
      &:hover{
        background-color: none !important;
      }
      &:focus,&:hover{
        background-color: none;
        color: none;
        outline: none !important;
        box-shadow: none !important;
      } 
    }
  }
  .otp-tab{
    border-radius: 8px 0px 0px 8px;
  }
  .password-policy-tab{
    border-radius: 0px 8px 8px 0px;
  }