
<div class="header d-flex flex-wrap align-items-center" *ngIf="view == true">
  <h4 class="mr-3 block-title my-0 mb-2 location-title">{{ 'Reason Management' | capitalfirstLetter | translate }} </h4>  
</div>

<app-search-reason (searchData)="searchData($event)" (back)="resetData($event)" *ngIf="view == true"></app-search-reason>

<div class="col-md-12 px-0 mt-2" *ngIf="listTable && view == true">
<div class="row">
<app-available-list [tableFormReset]="tableFormReset" [deleteButtonShow]="false" [editTableItem]="edit" [exportData]="export"  [deleteData]="delete" [exportData]="export" [deleteData]="false" [tableSort]="tableSort" [typeTable]="typeTable" [firstPage]="firstPage" [shorting]="true" [searching]="true" [tablename]="tablename" [editStatus]="true" [tableHeading]="tableFields" [formDataSet]="reasonTable" [editArray]="true" [editInputs]="true" [editupdate]="true" [recordList]="reasonTable" [shortingFilters]="false" [searchFields]="reasonTablSearchFields" [columnCount]="6" [showFilters]="showFilters" [showNoData]="showNoData" [totalItems]="totalItems" [tableFields]="tableFields"  (listApiCall)="listApiCall($event,tabKey)" (editInfo)="editInfo($event)" (searchCall)="keySearch($event)" (deleteLocation)="deleteLocation($event)"  class="w-100"></app-available-list>
</div>

</div>