<form [formGroup]="configForm" role="form">
    <div class="card c-d-card">
        <div class="card-header">
            <!-- <h5 *ngIf="createConfig" class="table-title pt-2 mb-1">{{'LOCATION.Create' | translate}} </h5> -->
            <h5 *ngIf="!createConfig" class="table-title mb-0">{{'LOCATION.Search' | translate}} {{mainTital}} </h5>
        </div>
        <div class="card-body">
            <div class="row  align-items-start mb-2">

                <!-- Search Input -->
                <div  class="col-md-4 inputs mb-2 "  >
                    <div class="country w-100">
                        <label class="mainLabel" for="">{{'SYSTEM_CONFIG.Searc_Label' | translate}}</label>
                        <input class="countryInput" formControlName="countryName" type="text" (paste)="checkInput($event)" (keydown)="checkInput($event)" placeholder="{{'SYSTEM_CONFIG.Search_content_PlaceHolder' | translate}}">
                        <div class="validation-div">
                            <app-validation-message  [control]="configForm.controls['countryName']" messages="{{errorMsg.countryName | translate}}">
                            </app-validation-message>
                        </div>  
                    </div>
                </div>
        
            </div>
            <div class=" buttonDiv mb-0">
                <!-- search page button -->
                <button class="search-btn mr-2" *ngIf="!createConfig" type="submit" (click)="onSubmit(true)" >{{'LOCATION.Search' | translate}}</button>
                <button class="reset-btn" *ngIf="!createConfig" (click)="resetForm()" >{{'LOCATION.Reset' | translate}}</button>
                <!-- create page button -->
                <button class="search-btn mr-2" *ngIf="createConfig" type="submit" [disabled]="!configForm.valid"  (click)="onSubmit(false)" >{{'LOCATION.Save' | translate}}</button>
                <button type="button" class="reset-btn"  *ngIf="createConfig" (click)="back.emit({status:false})">{{'LOCATION.Cancle' | translate}}</button>
            </div>
          
        </div>
    </div>
</form>


   