<div class="row">
    <div class="col-12">
        <form [formGroup]="profileForm" role="form">
            <div class="card c-d-card">
                <div class="card-header">
                    <h5 class="table-title mb-0">{{"Change User Information here" | translate}}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 inputs mb-2 ">
                            <div class="country w-100">
                                <label class="mainLabel">{{'First Name' | translate}}<span class="mandatory">*</span></label>
                                <input formControlName="firstName" class="countryInput border" id="firstName" type="text" (paste)="checkInput($event,'first')"  (keydown)="checkInput($event,'first')" >
                                <div class="validation-div">
                                    <app-validation-message [control]="profileForm.controls['firstName']" [messages]="errorMsg.firstName">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                <label class="mainLabel">{{'Last Name ' | translate}}<span class="mandatory">*</span></label>
                                <input formControlName="lastName" class="countryInput border" type="text" (paste)="checkInput($event,'last')"  (keydown)="checkInput($event,'last')" >

                                <div class="validation-div">
                                    <app-validation-message [control]="profileForm.controls['lastName']" [messages]="errorMsg.lastName">
                                    </app-validation-message>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                <label class="mainLabel ">{{'Email Address' | translate}} </label>
                                <input formControlName="email" readonly class="countryInput border disablebg" type="text">

                                <div class="validation-div">
                                       <!-- <app-validation-message [control]="profileForm.controls['startDate']" [messages]="errorMsg.startDate">
                                    </app-validation-message> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                <label class="mainLabel ">{{'Role Name' | translate}} </label>
                                <input formControlName="roleName" readonly class="countryInput border disablebg" type="text">

                                <div class="validation-div">
                                       <!-- <app-validation-message [control]="profileForm.controls['startDate']" [messages]="errorMsg.startDate">
                                    </app-validation-message> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 inputs">
                            <li class="d-flex align-items-center mr-2 my-1">
                                <button type="button" class="search-btn mr-2 " [disabled]=" profileForm.get('firstName').value == initialFirstName && profileForm.get('lastName').value == initialLastName " (click)="Save()">{{'update' | translate}}</button>
                                <button type="button" class="reset-btn" (click)="reset()" [disabled]="profileForm.get('firstName').value == initialFirstName && profileForm.get('lastName').value == initialLastName ">{{'DATE_PICKER.RESET' | translate}}</button>
                              </li>
                        </div>
                    </div>    
                      
                     
                </div>
                </div>
            </form>
    </div>
</div>