@import '../../../../variable.scss';
.page-title{
    h4{
        font-size: $font-size-22;
    }
    h5{
        font-size: $font-size-14;
        .back{
            color: #707070;
        }
    }
}
.mail-head{
    border-bottom: 1px solid #E9E9E9;
}

.user-card{
    border: none;
    border-radius: 8px;
    .col-auto{
        img{
            width: 38px;
        }
    }
    .card-block{
        .card-title{
            font-size: $font-size-24;
            font-weight: bold;
        }
        .card-text{
            font-size: $font-size-16;
            font-weight: 400;
            color: #666666;
            margin-top: 8px;
        }
    }
}


.date-filter{
    background-color: #fff;
    border-radius: 8px;
}
.country{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .fix{
  position: static;
  }
  .countryInput{
    width: 100% !important;
    border:none;
  }
  .border-green{
   border: 1px solid #15B14C;
   background-color: #F5FFF8;
  }

  .border-red{
    border: 1px solid #FF5A5A;
    background-color: #FFF5F5;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search-btn{
    background-color: #fc0;
    outline: none;
}
.reset-btn{
    outline: none;
    border: 1px solid #E0E0E0;
    background-color: #fff;
}
.countryInput{
    
}
.disablebg{
    color: #9A9A9A;
    background-color: #E5E5E5;
}