::ng-deep .mat-tooltip {
    background: #000;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    overflow:visible !important;
    border: #000 1px solid !important;
    color: rgb(245, 235, 235) !important;
    &::after{
        content: "";
        border:5px solid transparent;
        border-bottom-color: #000;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}
