<div class="card c-d-card">
    <div class="card-header">
        <h5 class="table-title mb-0" >{{'LOCATION.List_of' | translate}} {{activeConfigurationTab}}</h5>
    </div>
    <div class="card-body table-responsive location-table p-0">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" *ngFor="let item of tableHeading ; let ind = index; ">
                    <div *ngIf=" item!=='Subscription level' && item!=='Customer Account' " [ngClass]="item == tableHeading[1] ? 'd-flex' : 'd-flex justify-content-center' ">
                        {{item|translate}}
                    </div>
                    <div *ngIf="item=='Subscription level' " matTooltip="Secondary Account" [ngClass]="item == tableHeading[1] ? 'd-flex' : 'd-flex justify-content-center' ">
                        {{item|translate}}
                    </div>
                    <div *ngIf="item=='Customer Account' " matTooltip="Primary Account" [ngClass]="item == tableHeading[1] ? 'd-flex' : 'd-flex justify-content-center' ">
                        {{item|translate}}
                    </div>
                </th>
              </tr>
            </thead>    
            <tbody >
              <tr *ngFor="let data of recordList; let ind = index;" >
                <td class="text-center"><span>{{ind+1}}</span></td>
                <td><span>{{data.name}}</span> </td>
                <td>
                    <!-- Subscription Dropdown -->
                    <div>
                        <select [(ngModel)]="data.subscriptionType" [disabled]="!edit" (change)='onDropdownChange(ind,"subscriptionType")' class="countryInput w-100 bg-white">
                            <option *ngFor="let item of subscriptionArray" [value]="item.value">{{item.name}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <!-- CustomerType Dropdown -->
                    <div>
                        <select [(ngModel)]="data.customerTypeSegment" [disabled]="!edit" (change)='onDropdownChange(ind,"customerTypeSegment")' class="countryInput w-100 bg-white">
                            <option *ngFor="let item of segmentArray" [value]="item.value">{{item.name}}</option>
                        </select>
                    </div>
                </td>
                <!-- <td *ngFor="let column of extraColumns" class="text-center"><input [checked]="isChecked(ind,column.name)" (change)="onCheckboxChange(column.id,data.id)"  type="checkbox"></td> -->
                <td *ngFor="let column of extraColumns" class="text-center"><mat-checkbox [disabled]="!edit"  [checked]="isChecked(ind,column.name)" (change)="onCheckboxChange(column.id,data.id)"   class="edit mat-custom-chckbox" color="primary" ></mat-checkbox></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>


