<div class="col-md-12 location-table">
    <form class="form-horizontal" [formGroup]="tableForm" *ngIf="showNoData == false">
    <div class="card c-d-card">
        <div class="card-header d-flex align-items-center">
            <h5 class="table-title mb-0 mr-auto " > List of {{tablename|translate}}</h5>
                        <select *ngIf="showTablePageLimit" class=" form-control mr-2 w-auto" formControlName="tablePageLimit" (change)="tablelimit($event)"> 
                            <option *ngFor="let item of dropdownPages" [value]="item" >{{item}}</option>
                          </select>
                        <button type="button" class="btn btn-common mr-2 ml-0" *ngIf="shorting" [ngClass]="{'bg-gray':(shortingFilters == true) }" (click)="shortFilter()"> <img src="../assets/images/shorting.png"></button>
                        <button type="button" class="btn btn-common m-0" *ngIf="searching" [ngClass]="{'bg-gray':(showFilters == true) }" (click)="searchFilter()"> <img src="../assets/images/filter.png" class="search-img"></button>
                        <button type="button" class="btn btn-common" (click)="generateExcel()" *ngIf="downloadCsv && exportData"> <img height="25px" src="../assets/images/download-down-arrow.svg"></button>
                    </div>
        <div class="card-body p-0 table-responsive">
    <table class="table table-striped ">
        <thead>
        
          <tr>
            <th scope="col" *ngFor="let item of tableFields ; let ind = index; ">
                <div  class="d-flex" [ngClass]="{'justify-content-center status-columan':(item == 'action' || item == 'orderStatus' || item == 'enabled' || item == 'isActive' || item == 'Status') }">
                    {{item|translate}}
                    <span class="short-label d-flex" *ngIf="item != 'action' && item!== 'id' ">
                      
                            <div *ngIf="shortingFilters == true && tableSort[ind]" class="ml-2 short-arrow" (click)="sortData('ASC',item)">
                                <i class="fa-solid fa-arrow-up-long pointer"></i>
                                <i class="fa-solid fa-arrow-down-long pointer"></i>
                            </div>
                        <div class="position-relative">
                            <input type="checkbox" class="ml-2 search-check pointer" *ngIf="item != 'createdTimestamp' && item != 'updateTimestamp' && showFilters == true && searchFields[ind]" (change)="selectSearch($event,item)"  [formControlName]="item" [id]="item">
                            <div class="search-box p-3" *ngIf="tableForm.controls[item]?.value == true">
                                <div class="w-100 position-relative">
                                    <i class="fa-solid fa-sort-up fa-2x text-white"></i>
                                    <span>{{'Available_list.Text_Filter'|translate}}</span>
                                    <input type="text" class="search-input w-100" formControlName="{{item}}_text" (ngModelChange)="onKeySearch($event,item,true)">
                                </div>
                               
                            </div>
                        </div>
                      
                    </span>
                </div>
               
            </th>
          </tr>
         
        </thead>    
        <tbody formArrayName="editInfo">
          <tr *ngFor="let item of recordList | paginate: { itemsPerPage: tablePageLimit, currentPage: firstPage,totalItems: totalItems }; let ind = index; " [formGroupName]="ind">
            <!-- <td scope="row" class="w-70">{{((firstPage-1)*10)+ind+1}}</td> -->
            <td *ngFor="let data of item.data; let i = index" [ngClass]="[data.type == tableDataType.BUTTON ? 'text-center' : '', data.class ? data.class : '']">
                <span *ngIf="data.type == tableDataType.ID && data.value != 'null' && (item.edit == false || !data.edit)">{{((firstPage-1)*tablePageLimit)+ind+1}}</span> 
                <span [ngClass]="data.class ? data.class : '' " *ngIf="data.type == tableDataType.TEXT && data.value != 'null' && (item.edit == false || (!data.edit && !data.array && !data.radio && !data.textArea && !data.multiSelect && !data.dropDown))">{{data.value}}</span> 
                <span *ngIf="data.type == tableDataType.DATE && data.value != 'null'">{{data.value| date:'dd MMM y'}}</span>
               
                <!-- Type : Json  array  -->
                <div *ngIf="item.edit == true && data.jsonArray == true && editInputs == true" formArrayName="{{tableFields[i]}}">
                    <span>{{data.value}}</span> 
                </div>

                <!-- Type : Array -->
                <div *ngIf="item.edit == true && data.array == true && editInputs == true" formArrayName="{{tableFields[i]}}" >

                    <div *ngFor="let arrayData of tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls; let iData = index" class="mb-2" [formGroupName]="iData">
                        <div class="w-100 new d-flex">
                        <textarea class="countryInput bg-white" type="text" (change)="checkArrayBlanck(ind,tableFields[i],iData)"  (paste)="checkArrayInput($event,ind,tableFields[i],item,iData)" (keydown)="checkArrayInput($event,ind,tableFields[i],item,iData)" formControlName="value"> </textarea>
                        <div class="minus mt-2" (click)="removeQuantity(ind,tableFields[i],iData)"><i class="fa-solid fa-minus"></i></div>
                        <div class="plus mt-2" *ngIf="tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls.length == iData+1" (click)="addArrayData(ind,tableFields[i],iData+1)"><i class="fa-solid fa-plus"></i></div>
                    </div>
                    
                    <div class="validation-div" *ngIf="tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.required" >
                        <p>{{'Value is required' | translate}}</p>
                    </div>
                    <div class="validation-div" *ngIf="tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.minlength" >
                        <p>{{validMsg.INPUTE_MIN_VALIDATION + tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.minlength?.requiredLength}}</p>
                    </div>  
                    <div class="validation-div" *ngIf="tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.maxlength" >
                        <p>{{validMsg.INPUTE_MAX_VALIDATION + tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.maxlength?.requiredLength}}</p>
                    </div>  
                    <div class="validation-div" *ngIf="tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.pattern?.requiredPattern == '^[0-9]*$'" >
                        <p>{{validMsg.ONLY_NUMBERS_ALLOWED| translate}}</p>
                    </div>  
                    <div class="validation-div" *ngIf="tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]].controls[iData].controls['value']?.errors?.pattern?.requiredPattern == '^[a-zA-Z ]*$'" >
                        <p>{{validMsg.CHAR_AND_SPACE_ALLOWED| translate}}</p>
                    </div>  
                     
                   </div>
                </div>
                <div class="input-label mb-0" *ngIf="item.configurableUnit && item.configurableUnit == 'min' && item.edit == true && data.edit == true && editInputs == true" >
                    <p class="mb-0">{{'Minute' | translate}}</p>
                </div>  
                <input *ngIf="item.edit == true && data.edit == true && editInputs == true" [dir]="language == 'ar' ?'rtl':'ltr'" (change)="checkBlanck(ind,tableFields[i])" (paste)="checkInput($event,ind,tableFields[i],item)" (keydown)="checkInput($event,ind,tableFields[i],item)" class="countryInput bg-white" type="text" formControlName="{{tableFields[i]}}">  
                <div class="validation-div" *ngIf="item.edit == true && data.edit == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.required" >
                    <p>{{tableFields[i]}} {{'is required' | translate}}</p>
                </div>  
                <div class="validation-div" *ngIf="item.edit == true && data.edit == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.minlength" >
                    <p>{{validMsg.INPUTE_MIN_VALIDATION + tableForm.controls['editInfo']['controls'][ind].controls[tableFields[i]]?.errors?.minlength?.requiredLength}}</p>
                  </div>  
                <div class="validation-div" *ngIf="item.edit == true && data.edit == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.maxlength" >
                    <p>{{validMsg.INPUTE_MAX_VALIDATION + tableForm.controls['editInfo']['controls'][ind].controls[tableFields[i]]?.errors?.maxlength?.requiredLength}}</p>
                </div>  
                <div class="validation-div" *ngIf="item.edit == true && data.edit == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.pattern?.requiredPattern == '^[0-9]*$'" >
                    <p>{{validMsg.ONLY_NUMBERS_ALLOWED| translate}}</p>
                </div>  
                <div class="validation-div" *ngIf="item.edit == true && data.edit == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.pattern?.requiredPattern == '^[a-zA-Z ]*$'" >
                    <p>{{validMsg.CHAR_AND_SPACE_ALLOWED| translate}}</p>
                </div>  

                <!-- type : Text-Area -->
                <textarea *ngIf="item.edit == true && data.textArea == true && editInputs == true" class="countryInput w-100" formControlName="{{tableFields[i]}}"></textarea>
                <div class="validation-div" *ngIf="item.edit == true && data.textArea == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.required" >
                    <p>{{tableFields[i]}} {{'is required' | translate}}</p>
                </div>

                <!-- Type : Button -->
                <div *ngIf="data.type == tableDataType.BUTTON && data.color=='Green' && (item.edit == false || !data.status)" Tooltip='Active'   class="green-dot text-center">● <span class="down-arrow green"></span></div>
                <div *ngIf="data.type == tableDataType.BUTTON && data.color=='red' && (item.edit == false || !data.status)" Tooltip='InActive'   class="red-dot text-center">● <span class="down-arrow red"></span></div>
                 <!--type : Switch -->
                <div *ngIf="item.edit == true && data.status == true && editStatus == true ">
                    <label class="switch">
                        <input type="checkbox" formControlName="{{tableFields[i]}}"  [checked]="true">
                        <span class="slider round "></span>
                    </label>
                </div>
                <!-- type : Radio -->
                <div *ngIf="item.edit == true && data.radio == true && editStatus == true ">
                    <mat-radio-group aria-label="Select an option" formControlName="{{tableFields[i]}}">
                        <mat-radio-button *ngFor="let val of trueFalseRadioGroup" [value]="val">{{val}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- type : Multi select -->
                <div *ngIf="item.edit == true && data.multiSelect == true && editStatus == true ">
                    <mat-form-field appearance="fill">
                        <mat-select formControlName="{{tableFields[i]}}"  multiple>
                            <mat-option *ngFor="let topping of item.configPossibleValues" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="validation-div" *ngIf="item.edit == true && data.multiSelect == true && editInputs == true && tableForm.get('editInfo')['controls'][ind].controls[tableFields[i]]?.errors?.required" >
                        <p>{{tableFields[i]}} {{'is required' | translate}}</p>
                    </div>
                </div>


                <!-- type : Dropdown -->
                <div *ngIf="item.edit == true && data.dropDown == true && editStatus == true ">
                    <select formControlName="{{tableFields[i]}}">
                        <option *ngFor="let topping of item.configPossibleValues" [value]="topping">{{topping}}</option>
                    </select>
                </div>

            </td>
            <td class="text-center w-70 pr-5" *ngIf="editupdate == true && item.edit == false" >
                <div class="d-flex align-items-center">
              <div [matTooltip]="!editTableItem ? 'Access denied' : null" matTooltipPosition="below"><img height="18px" [ngClass]=" !editTableItem  ? 'disablebutton' : '' "    (click)="editData(item,ind)"  src="../assets/images/edit.png" class="mr-2 "   >
              </div>
              <div [matTooltip]="!deleteData ? 'Access denied' : null" *ngIf="deleteButtonShow" matTooltipPosition="below"><img height="18px" [ngClass]=" !deleteData  ? 'disablebutton' : '' "   (click)="deleteLocation.emit(item)" src="../assets/images/delete.png" ></div>  
            </div>
            </td>

            <td class="text-center w-85" *ngIf="item.edit">
                <span (click)="saveData(item,ind)" class="mr-2">
                    <img src="../assets/images/save_icon.svg">
                </span>
                <span (click)="dontSaveData(item,ind)">
                    <img src="../assets/images/dont_save_icon.svg">
                </span>
            </td>

            

            <td class="text-center " *ngIf="!editupdate"><img class="image-size" (click)="viewInfo.emit(item)" src="../assets/images/eye.png"></td>
          </tr>
          <tr *ngIf="0 >= recordList.length">
              <td [attr.colspan]="columnCount" class="text-center bg-white p-0">
                <div class="bg-white col-md-12 no-record">
                    <div class="no-record-content">
                        <img src="../assets/images/no-record.png">
                        <p class="no-record-title mb-0 mt-2">{{'Available_list.No' | translate}} {{tablename}} {{'Available_list.Found' | translate}}</p>
                    </div>
                    
                </div>
              </td>
           
          </tr>
         
        </tbody>
        <tfoot *ngIf="recordList.length > 0">
            <tr>
                <td [attr.colspan]="columnCount">
                    <pagination-controls responsive="true" class="float-right mt-4" previousLabel="" nextLabel="" (pageChange)="changePage($event)"></pagination-controls>
                </td>
            </tr>
        </tfoot>
      </table>
        </div>
    </div>
</form>
<div class="col-md-12 " *ngIf="showNoData == true">
    <div class="bg-white col-md-12 no-record">
        <div class="no-record-content">
            <img src="../assets/images/no-record.png">
            <p class="no-record-title mb-0 mt-2">{{'Available_list.No' | translate}} {{typeTable}} {{'Available_list.Found' | translate}}</p>
        </div>
    </div>
</div>
</div>
