@import '../../../../variable.scss';
.page-title{
    h4{
        font-size: $font-size-22;
    }
    h5{
        font-size: $font-size-14;
        .back{
            color: #707070;
        }
    }
}
.mail-head{
    border-bottom: 1px solid #E9E9E9;
}
.table-title{
    font-size: $font-size-18;
}
table{
    background-color: #fff !important;
    border-radius: 8px !important;
}
.user-card{
    border: none;
    border-radius: 8px;
    .col-auto{
        img{
            width: 36px;
            border-radius: 20px;
            border: 1px solid #fff;
            margin-left: -15px;
        }
    }
    .card-block{
        .card-title{
            font-size: $font-size-24;
            font-weight: bold;
        }
        .card-text{
            font-size: $font-size-16;
            font-weight: 400;
        }
    }
}

.status-columan{
  .short-label{
    .position-relative{
      .search-box{
        position: absolute;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 4px 21px 8px #00000012;
        opacity: 1;
        border-radius: 8px;
        right: -16px !important;
        left: unset !important;
        top: 26px;
        z-index: 200;
        .fa-sort-up{
            position: absolute;
            bottom: 18px;
            right: 0px !important;
        }
    }
    }
  }
}
.search-box{
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 21px 8px #00000012;
    opacity: 1;
    border-radius: 8px;
    left: -8px;
    top: 26px;
    z-index: 200;
    .fa-sort-up{
        position: absolute;
        bottom: 18px;
    }
    
}

.btn-common{
    img{
        margin-right: 0px !important;
    }
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #868E96;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }
  .search-filter{
    border: 1px solid #E0E0E0;
    border-radius: 4px;
  }

  .no-record{
    height: calc(100vh - 310px) !important;
    text-align: center;
    display: flex;
    border-radius: 8px;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    .no-record-content{
        margin: auto;
        .no-record-title{
            font-size: $font-size-18;
        }
        .no-record-note{
            font-size: $font-size-16;
            color: #9A9A9A;
        }
        img{
            width: 410px;
          }
    }
   
  }

  .fa-circle-check{
    color: #15B14C;
    }
    
.fa-circle-xmark{
color: #FF5A5A;
} 
    
.tooltip {
  display: inline;
  position: relative;
}

*[tooltip].red-dot{
  &:hover{
      &::after{
          background: #ffe8e8 !important;
          color: red !important;
          border-color: red;
          padding: 1px 15px !important;
          left: -17% !important;
      }
      &::before{
          border-color: red transparent !important;
      }
  }
}


*[tooltip]:hover::after{
  background: #fff !important;
  bottom: 23px;
  color: #15B14C !important;
  content: attr(tooltip);
  padding: 1px 15px !important;
  position: absolute;
  z-index: 98;
  left: -10.15%!important;
  width: 230px;
  text-shadow: none;
  font-size: 12px;
  line-height: 1.5em;
  border: 1px solid #15B14C;
  border-radius: 5px !important;
  width: fit-content !important;
  white-space: nowrap;
}
*[tooltip]:hover{
  .down-arrow{
    display: block;
  }
}
.down-arrow{
  bottom: 20px;
  left: 0%;
  position: absolute;
  z-index: 99;
  border: 0px solid transparent!important;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  display: none;
  &.red{
    background: #ffe8e8;
  }
  &.green{
    background: #E7FDE5;
  }
}
    
    
.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 24px;
  margin-bottom: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #15b14c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #15b14c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
//   / The slider /
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
//   / Rounded sliders /
.slider.round {
  border-radius: 24px;
  // margin-top: 0.2rem;
}

.slider.round:before {
  border-radius: 50%;
}
  // -------------  switch-end ----------------------------------------

  .short-label{
    input[type="checkbox"]{
      position: relative;
      top: 2px;
    }
  }

.validation-div{
  p{
    color: red;
  }
}
.search-check{
  margin-top: 2px;
}
.short-arrow{
  margin-top: 4px;
}
.search-img{
  transform: rotate( 
90deg
 );
}

.plus{
  padding: 3px;
  padding-top: 0px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-left: 5px;
}
.minus{
  padding: 3px;
  padding-top: 0px;
  height: 20px;
  border: 1px solid #FF5A5A;
  color: #FF5A5A;
  border-radius: 20px;
  margin-left: 5px;
}
.image-size{
  width: 20px;
height: 12px;
}
.c-tooltip{
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.disablebutton{
  pointer-events: none;
}
td{
  &.text-data{
    max-width: unset !important;
  }
  textarea{
    height: 120px;
    width: 400px;
  }
}
.text-data{
  span{
    white-space: pre-line !important;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    width: 180px;
    vertical-align: middle; 
  }
}

.input-label{
  font-size: $font-size-14;
  color: #000000;
}