<!-- -->
<!-- <app-create-consent></app-create-consent> -->

<div class="header d-flex flex-wrap align-items-center" *ngIf="view == true">
  <h4 class="mr-3 block-title location-title my-0 mb-3">{{ 'CONSENT.CONSENT_MANAGEMENT' | translate }}</h4>
  <button type="button" class="btn btn-common dark ml-auto mb-3" (click)="hideShowCreateForm()" *ngIf="!createConsent && !uploadCsv && create"><i class="fa-solid fa-plus mr-2"></i>{{'CONSENT.CREATE_CONSENT' | translate}}</button>
 
  <!-- <button type="button" class="btn btn-common dark ml-3 mb-3"  (click)="showCsvUpload()"  *ngIf="!uploadCsv && !createConsent "><i class="fa-solid fa-arrow-up-from-bracket mr-2"></i>{{'Upload CSV' | translate}}</button> -->
</div>
<hr class="mt-0">
<div class="col-md-12 mt-3 date-filter bg-white br-8 pt-2" *ngIf="!createConsent && !uploadCsv && view == true">
  <div  class="col-lg-12 col-md-12 col-sm-12 mt-2 col-xs-12 px-0 text-right">
    <button class="language-en-btn ml-auto mr-0 py-1" [ngClass]="{'yellow-bg': language == 'en'}" type="button" (click)="changeLanguage('en')" >{{'en' | uppercase}}</button>
    <button class="language-ar-btn py-1" [ngClass]="{'yellow-bg': language == otherLanguage?.configurableValue?.abbreviation}" type="button" (click)="changeLanguage(otherLanguage?.configurableValue?.abbreviation)" >{{otherLanguage?.configurableValue?.abbreviation | uppercase}}</button>
   
</div>
  <app-date-picker (dateFilterSearch)="dateFilterSearch($event)"></app-date-picker>
</div>

<div class="row mt-2" *ngIf="!createConsent && !uploadCsv && view == true">
  <app-available-list *ngIf="listTable" [tableSort]="tableSort"  [editTableItem]="edit" [deleteData]="delete" [tablePageLimit]="tablePageLimit" [typeTable]="typeTable" [tablename]="tableName" [firstPage]="firstPage" [shorting]="true" [searching]="true" [editInputs]="false" [recordList]="consentTable" [formDataSet]="consentTable" [editupdate]="true" (editLocation)="editLocation($event)" (deleteLocation)="deleteLocation($event)" [columnCount]="columnCount" [showFilters]="showFilters" [showNoData]="showNoData" [totalItems]="totalItems" [tableFields]="consentTableFields" [tableHeading]="consentTableFields" [searchFields]="consentTablSearchFields" (listApiCall)="listApiCall($event)" (searchCall)="keySearch($event)" class="w-100"></app-available-list>
    
</div>

<div class="col-md-12 bg-white py-3 create-form mt-2" *ngIf="createConsent && !uploadCsv && view == true">
  <app-create-consent  [editConsent]="editconsent" [otherLanguage]="otherLanguage" [language]="language"  [editData]="editData" (back)="backToTable()"></app-create-consent> 
</div>
<app-drag-drop [type]="typeTable"  [uploadUrl]="uploadUrl" [csvUploadTitles]="csvUploadTitles" [paramObj]="uploadCsvParamsObj" *ngIf="uploadCsv && view == true"  (downloadCSVSample)="downloadCSVSample()" (back)="hideCsvUpload()"   [tableData]="tableData" [prerequisitiesData]="prerequisitiesData" ></app-drag-drop>

    
