@import '../../../../variable.scss';
.mail-head{
    border-bottom: 1px solid #E9E9E9;
}
.table-title{
    font-size: $font-size-18;
}
table{
    border-radius: 8px !important;
    thead{
        tr{
            th{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    tbody{
        tr{
            th{
                font-size: 14px;
                font-weight: 300;
            }
            td{
                img{
                    width: 18px;
                }
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}
.create-form{
    border-radius: 8px;
}