.mainLabel{
    font-weight: bold;
  }
  
  .country{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .fix{
  position: static;
  }
  .countryInput{
    width: 100% !important;
  }
  
  [type="checkbox"], [type="radio"] {
    height:20px; 
    width:20px;
    background-color: #FFCC00;
    color: #FFCC00;
    outline: white;
    border: white;
    box-shadow: none !important;
  }
  
  
  
  .statusLabel{
    text-align: center;
    margin: 0rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  
  .statusInputs{
    display: flex;
    // justify-content: center;
    // align-items: center;
  }
  
  .statusInput{
    accent-color: #FFCC00;
    outline: white;
    border: white;
    padding: 0.5rem 1rem;
  }
  
  .buttonDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
  }
  
  button{
      margin-right: 1.5rem;
      padding: 8px 20px;
      border-radius: 5px
  }
  
  .search-btn{
    background-color: #FFCC00;
    border: none;
    outline: none;
  }
  
  .search-btn:hover{
    border: 2px solid #E0E0E0;
  }
  
  .reset-btn{
    outline: none;
    border: 1px solid #E0E0E0;
    background-color: white
  }
  .inputs{
    // margin-left: 1.5%;
  }
  .enable_status_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #E0E0E0;
    // margin-top: 20px;
    height: 40px;
  }
  
  .enable_status_Container_left{
    margin: 0px;
  }
  
  .enable_status_Container_right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
  }
  
  
  .enablePara{
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  // / The switch - the box around the slider /
  .switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 24px;
    margin-bottom: 0;
  }
  
  //   / Hide default HTML checkbox /
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  //   / The slider /
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #15b14c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #15b14c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  //   / Rounded sliders /
  .slider.round {
    border-radius: 24px;
    // margin-top: 0.2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  .save_button{
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #FFCC00;
    background-color: #FFCC00;
  }
  
  // .search-title{
  //   border-bottom: 1px solid #E0E0E0;
  // }
  
  .table-title{
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal medium 18px/24px DM Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
  