<div class="container-fluid p-0">
    <form [formGroup]="reasonForm" role="form">

    <div class="card c-d-card">
        <div class="card-header p-3">
            <h5 class="table-title mb-0">{{'Search Reason' | translate}} </h5>
           
        </div>
        <div class="card-body p-3">
            <div>
                <div>
                
                    <div class="row">
        
                        <!-- search -->
                
                        <!-- input -->
                        <div class="col-md-4 inputs mb-2 "  >
                            <div class="country w-100">
                                <label class="mainLabel" for="">{{'Search' | translate}} </label>
                                <input class="countryInput" formControlName="text" type="text"  placeholder="{{'Enter your text here..' | translate}}">
                                
                            </div>
                        </div>
                       
                    </div>
                   
                    <div class=" buttonDiv mb-0">
                        <!-- search page button -->
                        
                        <button class="search-btn mr-2" type="submit" (click)="onSubmit(true)" >{{'LOCATION.Search' | translate}}</button>
                        <button class="reset-btn mr-0" (click)="resetForm()" >{{'LOCATION.Reset' | translate}}</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
