<div class="modal-header position-relative p-1">
  <h5 class="modal-title custom-title mt-0" id="exampleModalLabel">{{'CSV Upload Summry'|translate}}</h5>
 
  <button type="button" class="close px-2 py-0" data-dismiss="modal" (click)="closeModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i>
  </button>
</div>
<div class="modal-body p-1">
  <table class="table csv-table">
      <thead>
        <tr>
          <th scope="col">{{'Total Record'|translate}}</th>
          <th scope="col">{{'Success Record'|translate}}</th>
          <th scope="col">{{'Failed Record'|translate}}</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td [ngClass]="{'list-record': csvResult?.error.length + csvResult?.success.length > 0}" class="pointer" (click)="openFailData(2,csvResult?.error.length + csvResult?.success.length)">{{csvResult?.error.length + csvResult?.success.length}}</td>
              <td [ngClass]="{'list-record': csvResult?.success.length > 0}" class="pointer" (click)="openFailData(1,csvResult?.success.length)">{{csvResult?.success.length}}</td>
              <td [ngClass]="{'list-record': csvResult?.error.length > 0}" class="pointer" (click)="openFailData(0,csvResult?.error.length)">{{csvResult?.error.length}}</td>
             
            </tr>
      </tbody>
    </table>

 
</div>