@import "../../../../variable.scss";

.drop-img {
  width: 42px;
}

.drop-box {
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
}
.drop-content {
  font-size: $font-size-14;
}
.drop-title {
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
  h5 {
    font-size: $font-size-16;
  }
}
.cross {
  margin-left: auto;
}
.progress-bar {

  background: var(--unnamed-color-15b14c) 0% 0% no-repeat padding-box;
  background: #15b14c 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 5px;
}
.progress {
  background: #d7f1fe 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 5px;
  margin-left: 0 !important; 
  margin-right: 0 !important;
}
.progressBox {
  padding: 5%;
  background: #1eafff0a 0% 0% no-repeat padding-box;
  border: 0.6000000238418579px dashed #1eafff;
  border-radius: 4px;
  opacity: 1;
}
.selectedBox{
  height: 130px!important;
  margin-left: auto!important;
  margin-right: auto!important;
  padding-top: 30px!important;
  background: #1eafff0a 0% 0% no-repeat padding-box;
  border: 0.6000000238418579px dashed #1eafff;
  border-radius: 4px;
  opacity: 1;
}

.search-btn{
  margin-right: 1.5rem;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #FFCC00;
  border: none;
  outline: none;
}

.search-btn:hover{
  border: 2px solid #E0E0E0;
}

.reset-btn{
  margin-right: 1.5rem;
  padding: 8px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #E0E0E0;
  background-color: white
}
