<div class="col-md-12 d-flex drop-title p-3 flex-wrap">
    <h5 class="mb-0">{{'Upload CSV'| translate}}</h5>
    <hr class="divider-hr">
    <!-- <button class="cross btn btn-common  mb-1" (click)="clearFile()"><i class="fa-solid fa-xmark"></i></button> -->
</div>
<div class="col-md-12 p-3 drop-box ">
    <div  class="center">

        <ngx-file-drop *ngIf="!progessBar && !selectFile"  dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div class="text-center">
                    <img src="../assets/images/cloud-upload.png" class="drop-img">
                </div>
                <div class="drop-content">
                    Drop CSV Here or 
                    <button type="button" class="btn-fileUpload" (click)="openFileSelector()">Choose a File</button>
                </div>
                
            </ng-template>
        </ngx-file-drop>
        
        <div *ngIf="progessBar" class="progressBox">
        <div  class="progress mx-3">
            <div class="progress-bar"  [ngStyle]="{'width': progress }"></div>
        </div>
        </div>

        <div *ngIf="selectFile" class="selectedBox">
            <div class="text-center">
                <img src="../assets/images/csv-upload.png" class="drop-img">
            </div>
            <div class="text-center">
                {{selectFileName}}
            </div>
            
        </div>

        <div class="upload-table w-100 mt-3 d-flex align-items-center">
            <button type="button" class="search-btn mr-2"  [disabled]="csvFileData == null" (click)="uploadFile()">Upload</button>
            <button type="button" class="reset-btn mr-0" (click)="clearFile()" >Cancel</button>  
            <div class="ml-auto text-right">
                <button type="button" class="btn-fileUpload-csv ml-auto" (click)="downloadCSVSample.emit()" ><img src="../assets/images/upload.png">{{'SAMPLE_TITLE' | translate}}</button>
                <button type="button" class="btn-fileUpload-csv"(click)="viewCSVDemo('prerequisitiesData')" ><img src="../assets/images/note.png">{{'PREREQUISITES_FORMAT_TITLE'| translate}}</button>
                <button type="button" class="btn-fileUpload-csv" (click)="viewCSVDemo('tableData')" ><img src="../assets/images/note.png"  >{{'CSV_FORMAT_TITLE' | translate}}</button>
            </div>
        </div>

    </div>
   
</div>
