<div class="header d-flex flex-wrap align-items-center" *ngIf="view == true">
  <h4 class="mr-3 block-title my-0 mb-2 location-title">{{ pageHead | capitalfirstLetter | translate }} </h4>  
  <div class="d-flex ml-auto">
    <button type="button" class="btn btn-common ml-auto mb-2 py-2" (click)="hideShowCreateForm()" *ngIf="!createTicket  && !uploadCsv && create"><i class="fa-solid fa-plus mr-2"></i>{{'TICKET.Create' | translate}} {{ activeTabName | capitalfirstLetter| translate}}</button>
    <button *ngIf="!createTicket && forminputs[activeTab].ticketType == false && !uploadCsv && import" type="button" (click)="showCsvUpload()" class="btn btn-common ml-3 mb-2 py-2 " ><i class="fa-solid fa-arrow-up-from-bracket mr-2"></i>{{'TICKET.Upload_csv' | translate}}</button>
  </div>
  
</div>

<div class="col-md-12 px-0" *ngIf="ticketForm && !uploadCsv && view == true">
  <app-create-search-ticket  (languageSelect)="languageSelect($event)" [otherLanguage]="otherLanguage" (searchData)="sendSearchData($event)" (callApi)="listApiCall($event)" [getValueTicketTypeID]="ticketTypeId" [responseForTicketType]="responseForTicketType" [getValueTicketType]="valueForTicketType" [createTicket]="createTicket" [forminputs]="forminputs[activeTab]"  [activeTabName]="activeTabName"  (back)="hideShowCreateForm()"></app-create-search-ticket>
</div>
 <div class="col-md-12 px-0 mt-2" *ngIf="listTable && !uploadCsv && view == true">
  <div class="row">
  <app-available-list  *ngIf="!createTicket" [editTableItem]="edit" [exportData]="export"  [deleteData]="delete" [exportData]="export" [downloadCsv]="downloadCsv" [tableFormReset]="tableFormReset" [typeTable]="typeTable" [firstPage]="firstPage" [shorting]="false" [searching]="false" [tablename]="tableName" [editStatus]="true" [tableHeading]="ticketTableFields" [formDataSet]="ticketTable"  [editInputs]="true" [editupdate]="true" [recordList]="ticketTable" [shortingFilters]="shortingFilters" [searchFields]="ticketTablSearchFields" [columnCount]="columnCount" [showFilters]="showFilters" [showNoData]="showNoData" [totalItems]="totalItems" [tableFields]="ticketTableFields"  (listApiCall)="listApiCall($event)" (editInfo)="editInfo($event)" (searchCall)="keySearch($event)" (deleteLocation)="deleteLocation($event)" (viewInfo)="viewInfo($event)" (editLocation)="editData($event)" (generateExcelFile)="ticketDownloadCSV($event)" class="w-100"></app-available-list>
</div>
  
</div>
<div class="col-md-12 px-0" *ngIf="uploadCsv && view == true">
  <app-drag-drop [type]="typeTable"  [uploadUrl]="uploadUrl" [csvUploadTitles]="csvUploadTitles" [paramObj]="uploadCsvParamsObj" *ngIf="uploadCsv"  (downloadCSVSample)="downloadCSVSample()" (back)="hideCsvUpload()"   [tableData]="tableData" [prerequisitiesData]="prerequisitiesData" ></app-drag-drop>
</div>