.filter-option {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    position: absolute;
    border: 1px solid #A7B9CA;
    z-index: 9999;
    .top-section {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    &.show{
      display: block;
    }

    &.hide{
      display: none;
    }
}

.filter-bottom-section{
    margin-top: 10px;
}
.filter-option.show{
  width: 300px !important;
}
.col-md-12 {
  margin-top: 7px !important;
}

.filterForm .row {
  margin-right: -15px;
}

.date-range-label {
  margin-left: 3px;
}