@import '../../../../../variable.scss';
.form-title{
  font-size: $font-size-16;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #15b14c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #15b14c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 

  
.input_box{
  height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_sub_div{
    width: 15%;
}
.description{
    outline: none;
}
.Active{
  color: #15b14c;
}
.DeActive{
  color: red;
}