
    <div class="d-flex">
        <h5 class="text-bold form-title m-0" *ngIf="!editConsent">{{'CONSENT.CREATE_CONSENT' | translate}}</h5>
        <h5 class="text-bold form-title m-0" *ngIf="editConsent">{{'CONSENT.EDIT_CONSENT' | translate}}</h5>
        <button class="language-en-btn ml-auto mr-0 py-1" [ngClass]="{'yellow-bg': consent.value.language == 'en'}" type="button" (click)="setConsent('en')" >{{'en' | uppercase}}</button>
        <button class="language-ar-btn py-1" [ngClass]="{'yellow-bg': consent.value.language == otherLanguage?.configurableValue?.abbreviation}" type="button" (click)="setConsent(otherLanguage?.configurableValue?.abbreviation)" >{{'ar' | uppercase}}</button>
    </div>
    
    <hr class="my-3">
    <!--  four div = consent name ,consent type , status , description  -->
    <form [formGroup]="consent">
            <div class="col-lg-4 col-md-4 col-sm-6 my-3 col-xs-12 form-group p-0 mr-2">
                <label for="consent-name" class="mainLabel">{{'CONSENT.CONSENT_NAME' | translate}}<span *ngIf="!editConsent"  class="mandatory">*</span> :</label>
                    <input type="text" class="form-control rounded" id="consent-name" [dir]="consent.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'"  (paste)="checkInput($event)" (keydown)="checkInput($event)"  placeholder="{{'CONSENT.ENTER_CONSENT_NAME' | translate}}" formControlName="consentName" >
                        <div class="validation-div">
                            <app-validation-message [control]="consent.controls['consentName']" [messages]="errorMsg.consentName">
                            </app-validation-message>
                        </div>  
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-6 my-3 col-xs-12 form-group p-0 mr-2" *ngIf="consent.get('language').value == 'ar'">
                <label for="consent-name" class="mainLabel">{{'CONSENT.CONSENT_NAME' | translate}} :</label>
                    <input type="text" class="form-control rounded" id="consent-name" dir="rtl" (paste)="checkInput($event)" (keydown)="checkInput($event)"  placeholder="{{'CONSENT.ENTER_CONSENT_NAME' | translate}}" formControlName="consentNameArabic" >
                        <div class="validation-div">
                            <app-validation-message [control]="consent.controls['consentNameArabic']" [messages]="errorMsg.consentNameArabic">
                            </app-validation-message>
                        </div>  
            </div> -->
                    
               
         
          
          
            <!-- consent type -->
            <!-- <div class="com-lg-4 col-md-4 col-sm-6 my-2 col-xs-12">
                <label for="consent-type">Consent Type</label><br>
                <ng-container class="">
                    <select class="form-control minimal rounded"             formControlName="consentType">
                        <option value="">{{'Communication' |translate}}</option>
                        <option value="jianng">jinang</option>
                        <option value="ridham">ridham</option>
                    </select>
                  </ng-container>
            </div> -->
           <!-- description -->
           <div class="col-md-4 col-sm-6 col-xs-12 mb-3 p-0">
            <label for="consent-name" class="mainLabel">{{'CONSENT.DESCRIPTION' | translate}}:</label><br>
            <textarea name="" placeholder="{{'CONSENT.DESCRIPTION' | translate}}" [dir]="consent.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" formControlName="description" class="border rounded description p-2 w-100" id="" rows="13" ></textarea>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12 mb-3 p-0" *ngIf="consent.get('language').value == 'ar'">
                <label for="consent-name" class="mainLabel">{{'CONSENT.DESCRIPTION' | translate}}:</label><br>
                <textarea name="" placeholder="{{'CONSENT.DESCRIPTION' | translate}}" dir="rtl" formControlName="descriptionArabic" class="border rounded description p-2 w-100" id="" rows="13" ></textarea>
                </div> -->
            <!-- consent status -->     
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-2 p-0">
                <div class="border rounded p-1 input_box w-100">
                 
                    <div class="ml-2 status_sub_div ">{{'CONSENT.STATUS' | translate}}</div>
                
                    <div *ngIf="consent.controls['isChecked']?.value == true"  class="ml-auto mr-4 status_sub_div Active">{{'CONSENT.ACTIVE'| translate}}</div>
                    <div *ngIf="consent.controls['isChecked']?.value == false"  class="ml-auto mr-4 status_sub_div DeActive">{{'CONSENT.INACTIVE'| translate}}</div>
            
                    <label  class="switch ml-3 my-0 p-2">
                        <input type="checkbox"  formControlName="isChecked">
                        <span   class="slider round "></span>
                    </label>
                </div>
            </div>
        <!-- </div> -->
        <!-- button save and cancel -->
        <div class="col-md-12 mt-4 p-0 d-flex">
            <button class="save_button search-btn mr-2" (click)="onSubmit()" *ngIf="!editConsent">{{'CONSENT.SAVE' | translate}}</button>
            <button class="save_button search-btn mr-2" (click)="onSubmit()" *ngIf="editConsent">{{'CONSENT.UPDATE' | translate}}</button>
            <button type="button" class="btn reset-btn cancel_button" (click)="back.emit()">{{'CONSENT.CANCEL' | translate}}</button>
        </div>
    </form>



