
  <div class="row" *ngIf="view == true">
    <div class="col-md-12 d-flex">
        <!-- Tabs nav -->
        
        <div class="nav side-menu-item-list-block flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div >
                <form class="example-form">
                    <mat-form-field class="example-full-width inner-search"  appearance="fill">
                        <div class="d-flex">
                            <img src="assets/images/searchicon.svg">
                        <input type="text"
                               placeholder="Search System Configuration..."
                               matInput
                               [formControl]="myControl"
                               [matAutocomplete]="auto">
                        </div>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchEnter($event)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="getSearch(option)">
                                {{option.name}}
                              </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                  </form>                  
            </div>

            <ng-container *ngFor="let menu of systemMenu; let i = index;" (click)="tabDropDown(menu.configGroupName,$event)">
                <a *ngIf="menu.children.length == 0 || menu.configGroupName == 'Authentication' && menu.configGroupName != 'Reason Management'"  class="nav-link mb-2 p-1 p-0 tab-box pointer" [ngClass]="{'active': currentTab == menu.configGroupName}" (click)="clickOnTab(menu.configGroupName,true)">
                    <img src="../assets/images/systemConfig/{{menu.configGroupName}}.png" class="m-2">
                    <span class="tab-lable parant small text-center" tooltip="{{menu.configGroupName}}" placement="right" container="body" [adaptivePosition]="false">{{ (menu.configGroupName.length>18)? (menu.configGroupName | slice:0:18)+'..':(menu.configGroupName) }}</span></a>
            
                <a *ngIf="menu.children.length > 0 && menu.configGroupName != 'Authentication' && menu.configGroupName != 'Reason Management'" class="nav-link mb-2 tab-box p-0 pointer" [ngClass]="{'active': currentTab == menu.configGroupName}" (click)="clickOnTab(menu.children[0],true,menu.configGroupName,menu.configGroupName)">
                    <img src="../assets/images/systemConfig/{{menu.configGroupName}}.png" class="m-2">
                    <span class="ml-1 tab-lable small text-center" tooltip="{{menu.configGroupName}}" placement="right" container="body" [adaptivePosition]="false">{{ (menu.configGroupName.length>18)? (menu.configGroupName | slice:0:18)+'..':(menu.configGroupName) }}</span>
                    <img src="../assets/images/downchevron.svg" [ngClass]="{'img-dg': menu.show == true}" class="ml-auto toggle-icon pointer" (click)="tabDropDown(menu.configGroupName,$event)">
                      
                </a>
                <div class=" location-list w-100 p-2 mb-2" *ngIf="menu.show ">
                    <li class="dropdown-item ml-2"  *ngFor="let cmenu of menu.children" [ngClass]="{'active-location-tab': activeTab === cmenu}"  (click)="clickOnTab(cmenu,true,menu.configGroupName)">{{ cmenu | translate}}</li>
                    
                  </div>
            
            </ng-container>
            <ng-container>
                <a  class="nav-link mb-2 p-1 p-0 tab-box pointer" [ngClass]="{'active': currentTab == 'Customer Access'}" (click)="clickOnTab('Customer Access',true)">
                    <img src="../assets/images/systemConfig/User.png" class="m-2">
                    <span class="tab-lable parant small text-center" tooltip="{{'Customer Access'}}" placement="right" container="body" [adaptivePosition]="false">Customer Access</span></a>
            </ng-container>
           
            
            </div>

           

            <div class="main-content-wrapper">
                <app-system-configuration-list [parentTab]="parentTab" [activeConfigurationTab]="activeConfigurationTab" [tablename]="tablename"></app-system-configuration-list>
            </div>
    </div>
</div>
