@import '../../../../variable.scss';

.block-title{
font-size: $font-size-18;
}
.nav-link{
    img{
        width: 20px;
        height: 20px;
        margin-left: 15px !important;
        &.toggle-icon{
            margin-left: auto !important;
            margin-right: 10px;
        }
    }
}
.nav-pills-custom .nav-link {
    color: #000;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-pills-custom .nav-link.active {
    color: #000;
    background: #ffcc00;
}
.nav-pills-custom .nav-link:hover {
    color: #000;
    background: #ffcc00;
}
.nav-pills-custom .nav-link::before {
    opacity: 0 !important;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #ffcc00;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0 !important;
    }
}
.tab-box{
    // display: grid !important;
    border-radius: 8px !important;
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.tab-lable{
    color: #000 !important;
    font-size: $font-size-16;
    margin: 10px 0;
}

.tab-lable:hover{
    cursor: pointer;
}

.fa{
    color: #000;
}

.location-list{
    position: relative !important;
    transform: unset !important;
    transform: unset!important;
    border: none;
    border-radius: 0px 0px 5px 5px !important;
    background-color: rgb(255, 241, 207) !important;
    padding-top: 0px;
    margin-top: -11px !important;
}
.dropdown-item{
    border-left: 2px solid #b3b3b3;
    padding: 3px 10px !important;
    cursor: pointer;
    font-size: $font-size-14;
}

.dropdown-item-const{
    border-left: 2px solid #b3b3b3;
    padding: 3px 10px !important;
    cursor: pointer;
    font-size: $font-size-14;
}

.dropdown-item-const:focus, .dropdown-item-const:hover{
    background-color: transparent !important;
    border-color: #000;
}
.dropdown-item-const:focus, .dropdown-item-const:active{
    background-color: transparent !important;
    border-color: #000;
}


.btn-location{
    background-color: transparent;
    color: #000;
    border: none;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent !important;
    border-color: #000;
}
.dropdown-item:focus, .dropdown-item:active{
    background-color: transparent !important;
    border-color: #000;
}

.active-location-tab{
    background-color: transparent !important;
    border-color: #000;
    font-weight: 500;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .parant{
      margin: 5px 0 !important;
  }

.img-dg{
    transform: rotate(180deg);
}