<ng-template #popTemplate>
  <h5>Password must:</h5>
  <ul class="list-unstyled">
    <li *ngIf="+userPasswordLowercase > 0">- Have at least {{userPasswordLowercase}} lower case character</li>
    <li *ngIf="+userPasswordUppercase > 0">- Have at least {{userPasswordUppercase}} capital letter</li>
    <li *ngIf="+userPasswordDigits > 0">- Have at least {{userPasswordDigits}} number</li>
    <li *ngIf="+userPasswordallowSpecialChar > 0">- Have at least {{userPasswordallowSpecialChar}} special characters</li>
    <li *ngIf="+userPasswordLength > 0">- Be at least {{this.userPasswordLength}} characters</li>
    <li>- Not be a common password</li>
  </ul>
</ng-template>
<div class="container-fluid auth-block">
    <div class="row no-gutter h-100">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image">
        <img
          src="../../../assets/images/mini-logo.png"
          class="mini-logo mt-5 ml-5"
          alt="Please wait..."
        />
      </div>
  
      <!-- The content half -->
      <div class="col-md-6 bg-white d-flex">
        <div class="login d-flex flex-column justify-content-center py-5">
          <!-- Demo content-->
          <p class="display-4 login-titel mb-2">
            {{ "Reset your Password" | translate }}
          </p>
          <p class="text-note mb-3">
            <img
            src="../../../assets/images/envelope.png"
            alt="Please wait..."
          /> {{ setPasswordParam.controls['username'].value | translate }}
          </p>
          <form [formGroup]="setPasswordParam" role="form" class="w-100">
            <div class="form-group mb-3 position-relative">
              <img
                src="../../../assets/images/Layer.png"
                class="password"
                alt="Please wait..."
              />
              <div class="d-flex">
                <input
                id="inputEmail"
                [type]="newPasswordShow == true ? 'text':'password'"
                formControlName="newPassword"
                placeholder="{{ 'New Password' | translate }}"
                (keyup)="checkPasswordType(setPasswordParam.controls['newPassword'].value,0)"
                (paste)="checkPasswordType(setPasswordParam.controls['newPassword'].value,0)"
                (change)="checkPasswordType(setPasswordParam.controls['newPassword'].value,0)"
                autofocus=""
                class="form-control login-input pr-4 pl-5"
              />
              <i class="fa-regular fa-eye password-hide-show mt-3" *ngIf="newPasswordShow == false" (click)="showHideNewPassword()"></i>
              <i class="fa-regular fa-eye-slash password-hide-show mt-3" (click)="showHideNewPassword()" *ngIf="newPasswordShow == true"></i>
              </div>
             
              <span class="password-info" [tooltip]="popTemplate" containerClass="p-m-box" placement="bottom">i</span>
              <div class="validation-div">
                <app-validation-message [control]="setPasswordParam.controls['newPassword']" [messages]="errorMsg.newPassword">
                </app-validation-message>
              </div>
              <p [ngClass]="passwordType.className" *ngIf="passwordType.show == true && setPasswordParam.controls['newPassword'].errors == null">{{passwordType.value}}</p>
            </div>
            <div class="form-group mb-3">
              <img
                src="../../../assets/images/Layer.png"
                class="password"
                alt="Please wait..."
              />
              <div class="d-flex">
                <input
                id="inputPassword"
                [type]="confirmPasswordShow == true ? 'text':'password'"
                formControlName="confirmPassword"
                placeholder="{{ 'Confirm Password' | translate }}"
                class="form-control login-input pr-4 pl-5"
              />
              <i class="fa-regular fa-eye password-hide-show mt-3" *ngIf="confirmPasswordShow == false" (click)="showHideConfirmPassword()"></i>
              <i class="fa-regular fa-eye-slash password-hide-show mt-3" (click)="showHideConfirmPassword()" *ngIf="confirmPasswordShow == true"></i>
              </div>
             
              <div class="validation-div">
                <app-validation-message [control]="setPasswordParam.controls['confirmPassword']" [messages]="errorMsg.confirmPassword">
                </app-validation-message>
                </div>
            </div>
  
            <div class="d-flex">
              <button
                type="submit"
                (click)="login(setPasswordParam.value, setPasswordParam.valid)"
                class="btn btn-login mb-2 py-3 px-5 mt-2 shadow-sm"
              >
                {{ "Submit" | translate }}
              </button>
              <span class="forgot-text ml-auto pointer" (click)="back()"><img
                src="../../../assets/images/up-arrow.png"
                class="back-arrow mr-2"
                alt="Please wait..."
              />{{
                "Back to Login" | translate
              }}</span>
            </div>
          </form>
          <!-- End -->
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
  