<div class="modal-header position-relative p-1">
  <h5 class="modal-title custom-title mt-0" id="exampleModalLabel">{{title|translate}}</h5>
 
  <button type="button" class="close px-2 py-0" data-dismiss="modal" (click)="closeModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i>
  </button>
</div>
<div class="modal-body table-responsive">
  <table class="table csv-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngFor="let data of data.header">{{data}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.data">
          <td *ngFor="let content of item.row">   
            <span *ngIf="content.type=='text' "> {{content.value }}</span> 
            <span *ngIf="content.type=='icon'"> <i [ngClass]="content.class1"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
</div>    