
  <div class="d-flex">
    <!-- <div class="col-md-3 d-flex"> -->
        <!-- Tabs nav -->
        <div class="nav side-menu-item-list-block flex-column nav-pills nav-pills-custom " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <!-- <div class=" bg-white rounded-lg mb-2 p-0  imagediv "  >
                <img src="../../../../assets/images/profileIcon.png" class="mx-auto my-4 profile-img">
                <label class="btn file-btn w-auto mx-auto" for="ppic">
                    Choose a file
                    <input class="align-self-center" id="ppic" type="file" placeholder="Choose a file">
                </label>
                <span class="tab-lable small text-center p-2 align-self-end">{{'Acceptable formats: jpg, png only Max file size is 500 kb & min. size 70 kb' | translate}}</span>
            </div> -->

            <a class="nav-link mb-2 p-0 tab-box active" [ngClass]="{'active': currentRoute == dataConfigTab.PROFILE}" (click)="getCurrentRoute(dataConfigTab.PROFILE, $event,false)">
                <img src="../assets/images/profile.png" class="m-2 ml-3">
                <span class="tab-lable small text-center">{{'My Profile' | translate}}</span></a>
    
            <a class="nav-link mb-2 p-0 tab-box pointer" [ngClass]="{'active': currentRoute == dataConfigTab.CHANGE_PASSWORD}" (click)="getCurrentRoute(dataConfigTab.CHANGE_PASSWORD, $event,false)">
                <img src="../assets/images/change-password.png" class="m-2 ml-3">
                <span class="tab-lable small text-center">{{'Change Password' | translate}}</span></a> 
        </div>
    <!-- </div> -->
    <div class="main-content-wrapper">
        <div class="page-title">
            <h3 class="mr-3 block-title my-0 pl-0 py-3">{{activeTab | translate}}</h3>
        </div>
        <router-outlet ></router-outlet>
    </div>
</div>
