@import '../../../../variable.scss';

.block-title{
font-size: $font-size-22;
}
.nav-link{
    img{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.nav-pills-custom .nav-link {
    color: #000;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-pills-custom{
    .nav-link.show{
            color: #000;
            background: #ffcc00;
            .toggle-icon{
                transform: rotate(-180deg) !important;
            }
    }
    .nav-link{
        .toggle-icon{
            transform: unset ;
        }
    }
}
.nav-pills-custom .nav-link:hover {
    color: #000;
    background: #ffcc00;
}
.nav-pills-custom .nav-link::before {
    opacity: 0 !important;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #ffcc00;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0 !important;
    }
}
.tab-box{
    // display: grid !important;
    border-radius: 8px !important;
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.tab-lable{
    color: #000 !important;
    font-size: $font-size-16;
    margin: 12px 0;
}

.tab-lable:hover{
    cursor: pointer;
}

.fa{
    color: #000;
}

.location-list{
    position: relative !important;
    transform: unset !important;
    transform: unset!important;
    border: none;
    border-radius: 0px 0px 5px 5px !important;
    background-color: rgb(255, 241, 207) !important;
    padding-top: 0px;
}
.dropdown-item{
    border-left: 2px solid #b3b3b3;
    padding: 3px 10px !important;
    cursor: pointer;
    font-size: $font-size-14;
}
.btn-location{
    background-color: transparent;
    color: #000;
    border: none;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent !important;
    border-color: #000;
}
.dropdown-item:focus, .dropdown-item:active{
    background-color: transparent !important;
    border-color: #000;
}

.active-location-tab{
    background-color: transparent !important;
    border-color: #000;
    font-weight: 500;
}
.imagediv{
display: flex;
flex-direction:column;
justify-content: center;
}

.profile-img{
    height: 152px;
    width: 152px;
    border-radius: 50%;
}
.file-btn{
    input[type="file"]{
        display: none;
    }
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}