.upload-btn-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  .fa-times-circle {
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
  }
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.full-images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.fa-times-circle {
  z-index: 999;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}