<div class="upload-btn-wrapper">
  <a href="{{fileMeta.original}}" class="full-images" data-lightbox="image-1" *ngIf="fileMeta.thumb">
    <img [src]="fileMeta.thumb" class="img-fluid mb-2 text-center" alt="Product Image" />
  </a>
  <img [src]="fileMeta.thumb || 'assets/images/file-upload.svg'" *ngIf="!fileMeta.thumb" />
  <input type="file" name="myfile" #fileEle [hidden]="progress >= 0" accept="image/x-png,image/jpeg" />
  <i class="far fa-times-circle" (click)="onDeleteClicked()" *ngIf="fileMeta.attachmentId && !isDisabled"></i>
  
</div>
<!-- Uploading...: {{progress}}% -->