<div class="container-fluid auth-block">
  <div class="row no-gutter h-100">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image">
      <img
        src="../../../assets/images/mini-logo.png"
        class="mini-logo mt-5 ml-5"
        alt="Please wait..."
      />
    </div>

    <!-- The content half -->
    <div class="col-md-6 bg-white d-flex">
      <div class="login d-flex flex-column justify-content-center py-5">
        <!-- Demo content-->
        <p class="display-4 login-titel mb-5">
          {{ "LOGIN.Welcome_to" | translate }}
          <span class="highlight">{{ "LOGIN.MTN" | translate }}</span>
        </p>
        <p class="text-note mb-1">
          {{ "LOGIN.Please_Sign_in" | translate }}
        </p>
        <form [formGroup]="loginParam" role="form" class="w-100">
          <div class="form-group mb-3">
            <img
              src="../../../assets/images/envelope.png"
              class="email"
              alt="Please wait..."
            />
            <input
              id="inputEmail"
              type="email"
              formControlName="username"
              placeholder="{{ 'LOGIN.Email_address' | translate }}"
              autofocus=""
              class="form-control login-input pr-4 pl-5"
            />
            <div class="validation-div">
              <app-validation-message [control]="loginParam.controls['username']" [messages]="errorMsg.username">
              </app-validation-message>
              </div>
          </div>
          <div class="form-group mb-3">
            <img
              src="../../../assets/images/Layer.png"
              class="password"
              alt="Please wait..."
            />
            <div class="d-flex">
              <input
              id="inputPassword"
              [type]="passwordShow == true ? 'text':'password'"
              formControlName="password"
              placeholder="{{ 'LOGIN.Password' | translate }}"
              class="form-control login-input pr-4 pl-5"
            />
            <i class="fa-regular fa-eye password-hide-show mt-3" *ngIf="passwordShow == false" (click)="showHidePassword()"></i>
            <i class="fa-regular fa-eye-slash password-hide-show mt-3" (click)="showHidePassword()" *ngIf="passwordShow == true"></i>
            </div>
        
            <div class="validation-div">
              <app-validation-message [control]="loginParam.controls['password']" >
              </app-validation-message>
              </div>
          </div>

          <div class="d-flex">
            <button
              type="submit"
              (click)="login(loginParam.value, loginParam.valid)"
              class="btn btn-login mb-2 py-3 px-5 mb-2 shadow-sm"
            >
              {{ "LOGIN.Login" | translate }}
            </button>
            <span class="forgot-text pt-3 ml-auto pointer" (click)="forgotPass()">{{
              "LOGIN.Forgot_Password" | translate
            }}</span>
          </div>
        </form>
        <!-- End -->
      </div>
    </div>
    <!-- End -->
  </div>
</div>
