<!-- <router-outlet></router-outlet> -->
<!-- <ng-container *ngIf="isCustomLayout else layoutEnabled">
    <router-outlet>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..."
            type="ball-scale-multiple">
        </ngx-spinner>
    </router-outlet>
</ng-container>
<ng-template #layoutEnabled>
    <mk-layout-wrapper>
     
        <app-header [userInfo]="userInfo"></app-header>
        <mk-layout-sidebar-left>
            <div class="skin-red sidebar-mini">
                <app-menu-sidebar></app-menu-sidebar>
              
            </div>
        </mk-layout-sidebar-left>

        <mk-layout-content>
            <router-outlet (profileData)="profileData($event)">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..."
                    type="ball-scale-multiple">
                </ngx-spinner>
            </router-outlet>
        </mk-layout-content>
        <mk-layout-footer>
            <mk-layout-footer-left> </mk-layout-footer-left>
            <mk-layout-footer-right> </mk-layout-footer-right>
        </mk-layout-footer>
    </mk-layout-wrapper>
    <ng-template> -->

        <router-outlet>
            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffcc00" type = "ball-clip-rotate" [fullScreen] = "true"></ngx-spinner>
        </router-outlet>