
  <div class="row">
    <div class="col-md-12 d-flex" *ngIf="childPermissions.length > 0">
        <!-- Tabs nav -->
        <div class="nav side-menu-item-list-block flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div>
                <form class="example-form">
                    <mat-form-field class="example-full-width inner-search"  appearance="fill">
                        <div class="d-flex">
                            <img src="assets/images/searchicon.svg">
                        <input type="text"
                               placeholder="Search Data Configuration..."
                               matInput
                               [formControl]="myControl"
                               [matAutocomplete]="auto">
                        </div>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option | translate" (onSelectionChange)="getSearch(option , $event,true)" >
                                {{option | translate}}
                              </mat-option> 
                        </mat-autocomplete>
                    </mat-form-field>
                  </form>                  
            </div>

            <div *ngIf="checkPermissions('location-management',false)" (click)="tabDropDown(dataConfigTab.LOCATION,$event)">
                <a class="nav-link mb-2 tab-box p-0 pointer" id="ass" [ngClass]="{'active': currentRoute == dataConfigTab.LOCATION}" (click)="getCurrentRoute(dataConfigTab.LOCATION, $event,true)">
                    <img src="../assets/images/location.png" >
                    <span class="tab-lable  text-center mr-2" id="locationDropDown" (click)="getCurrentRoute(dataConfigTab.LOCATION, $event,false)" data-toggle="dropdown">{{'Location Management' | translate}}</span>
                    <!-- <button type="button" class="btn btn-location dropdown-toggle p-1" >
                        Location Management
                      </button> -->
                      <img src="../assets/images/downchevron.svg" class="ml-auto toggle-icon pointer" (click)="tabDropDown(dataConfigTab.LOCATION,$event)">
                      <ul class="dropdown-menu location-list w-100 p-2" id="Dropdown" >
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('country-management',true)" [ngClass]="{'active-location-tab': activeTab === locationTab.COUNTRY}" #tabBox (click)="getLocationTab(locationTab.COUNTRY,$event)">{{ 'Country Management' | translate}}</li>
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('state-management',true)" [ngClass]="{'active-location-tab': activeTab === locationTab.STATE}" #tabBox (click)="getLocationTab(locationTab.STATE,$event)">{{ 'State Management' | translate}}</li>
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('district-management',true)" [ngClass]="{'active-location-tab': activeTab === locationTab.DISTRICT}" #tabBox (click)="getLocationTab(locationTab.DISTRICT,$event)">{{ 'District Management' | translate}}</li>
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('city-management',true)" [ngClass]="{'active-location-tab': activeTab === locationTab.CITY}" #tabBox (click)="getLocationTab(locationTab.CITY,$event)">{{ 'City Management' | translate}}</li>
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('zip-code-management',true)" [ngClass]="{'active-location-tab': activeTab === locationTab.ZIP}" #tabBox (click)="getLocationTab(locationTab.ZIP,$event)">{{ 'Zip Code Management' | translate}}</li>
                      </ul>
                </a>
            </div>
          

           

            <div *ngIf="checkPermissions('consent-management',false)">
                <a class="nav-link mb-2 p-0 tab-box" [ngClass]="{'active': currentRoute == dataConfigTab.CONSENT}" (click)="getCurrentRoute(dataConfigTab.CONSENT, $event,false)">
                    <img src="../assets/images/consent.png" >
                    <span class="tab-lable  text-center">{{'Consent Management' | translate}}</span></a>
            </div>
          
            <div *ngIf="checkPermissions('ticket-management',false)" (click)="tabDropDown(dataConfigTab.TICKET,$event)">
                <a class="nav-link mb-2 p-0 tab-box active pointer" id="ticket" [ngClass]="{'active': currentRoute == dataConfigTab.TICKET}" (click)="getCurrentRoute(dataConfigTab.TICKET, $event,true)">
                    <img src="../assets/images/ticket.png" >
                    <span class="tab-lable  text-center mr-2" id="ticketDropDown" (click)="getCurrentRoute(dataConfigTab.TICKET, $event,false)"  data-toggle="dropdown">{{'Ticket Management' | translate}}</span>
                    <img src="../assets/images/downchevron.svg" class="ml-auto toggle-icon pointer" (click)="tabDropDown(dataConfigTab.TICKET,$event)">
                    <ul class="dropdown-menu location-list w-100 p-2" id="Dropdown2" >
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('ticket-type',true)" [ngClass]="{'active-location-tab': activeTab === ticketTab.TYPE_MANAGEMENT}" #tabBox (click)="getTicketTab(ticketTab.TYPE_MANAGEMENT,$event)">{{ ticketTabName.TYPE_MANAGEMENT | capitalfirstLetter  | translate}}</li>
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('category',true)" [ngClass]="{'active-location-tab': activeTab === ticketTab.CATEGORY_MANAGEMENT}" #tabBox (click)="getTicketTab( ticketTab.CATEGORY_MANAGEMENT,$event)">{{ ticketTabName.CATEGORY_MANAGEMENT | capitalfirstLetter | translate}}</li>
                        <li class="dropdown-item ml-2" *ngIf="checkPermissions('sub-category',true)" [ngClass]="{'active-location-tab': activeTab === ticketTab.SUB_CATEGORY_MANAGEMENT}" #tabBox (click)="getTicketTab(ticketTab.SUB_CATEGORY_MANAGEMENT,$event)">{{ ticketTabName.SUB_CATEGORY_MANAGEMENT | capitalfirstLetter | translate}}</li>
                    </ul>
                </a>
            </div>
            <div *ngIf="checkPermissions('reason-management',false)">
                <a class="nav-link mb-2 p-0 tab-box" [ngClass]="{'active': currentRoute == dataConfigTab.REASON}" (click)="getCurrentRoute(dataConfigTab.REASON, $event,false)">
                    <img src="../assets/images/add-on.png" >
                    <span class="tab-lable  text-center">{{'Reason Management' | translate}}</span></a>
            </div>
           
            
            <!-- <div>
                <a class="nav-link mb-2 p-0 tab-box active pointer" id="reason" [ngClass]="{'active': currentRoute == dataConfigTab.REASON}" (click)="getCurrentRoute(dataConfigTab.REASON, $event,true)">
                    <img src="../assets/images/add-on.png" >
                    <span class="tab-lable  text-center mr-2" id="reasonDropDown" (click)="getCurrentRoute(dataConfigTab.REASON, $event,false)"  data-toggle="dropdown">{{'Reason Management' | translate}}</span>
                    <img src="../assets/images/downchevron.svg" class="ml-auto toggle-icon pointer" (click)="tabDropDown(dataConfigTab.REASON,$event)">
                    <ul class="dropdown-menu location-list w-100 p-2" id="Dropdown3" >
                        <li class="dropdown-item ml-2" [ngClass]="{'active-location-tab': activeTab === reasonTab.ADD_ON_UNSUBSCRIBE}" #tabBox (click)="getReasonTab(reasonTab.ADD_ON_UNSUBSCRIBE,$event)">{{ reasonTabName.ADD_ON_UNSUBSCRIBE | capitalfirstLetter  | translate}}</li>
                        <li class="dropdown-item ml-2" [ngClass]="{'active-location-tab': activeTab === reasonTab.CHANGE_SIM}" #tabBox (click)="getReasonTab( reasonTab.CHANGE_SIM,$event)">{{ reasonTabName.CHANGE_SIM | capitalfirstLetter | translate}}</li>
                    </ul>
                </a>
            </div> -->
           
    
            <!-- <a class="nav-link mb-2 p-0 tab-box" id="v-product-tab" data-toggle="pill" href="#v-product" role="tab" aria-controls="v-product" aria-selected="false">
                <img src="../assets/images/product.png" >
                <span class="tab-lable  text-center">{{'Product Management' | translate}}</span></a>
    
            <a class="nav-link mb-2 p-0 tab-box" id="v-add-on-tab" data-toggle="pill" href="#v-add-on" role="tab" aria-controls="v-add-on" aria-selected="false">
                <img src="../assets/images/add-on.png" >
                <span class="tab-lable  text-center">{{'Add-on Management' | translate}}</span></a> -->
            </div>
            <div class="main-content-wrapper">
                <router-outlet ></router-outlet>
            </div>
    </div>


   
    <!-- <div class="col-md-10">
        <router-outlet ></router-outlet>
    </div> -->
</div>
