<mat-form-field appearance="fill">
  <mat-label>{{ filterLabel }}</mat-label>
  <mat-select [(ngModel)]="search" multiple>
    <mat-form-field class="example-full-width">
      <mat-label>{{ searchLabel }}</mat-label>
      <input matInput placeholder="Search" (input)="onKey($event.target.value)">
    </mat-form-field>
    <mat-option *ngFor="let data of filteredList" [value]="data">{{data}}</mat-option>
    <button class="selectbutton" (click)="filterChange()" mat-raised-button
      color="primary">{{ 'apply' | translate }}</button>
  </mat-select>
</mat-form-field>