<div *ngIf="permissionTable"  class="container-fluid p-0 mt-3">
  <div class="card c-d-card">
    <div class="card-header">
      <h4 class="table-title mb-0">
        {{roleName}} Permissions
      </h4>
    </div>
    <div  class="card-body p-0 location-table">
      <table mat-table  [dataSource]="dataSource" class="table table-striped">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 
            <span class="m-n-txt font-weight-bold"> Module Name </span>
          </th>
          <td mat-cell *matCellDef="let data"> 
            <button mat-icon-button 
                    [style.visibility]="!data.expandable ? 'hidden' : ''"
                    [style.marginLeft.px]="data.level * 32"
                    (click)="changeToggle(data)"
                    class="mr-2">
                    
              <i class="fa-solid fa-plus" *ngIf="!treeControl.isExpanded(data)" ></i>
              <i class="fa-solid fa-minus" *ngIf="treeControl.isExpanded(data)"></i>
            </button>
      
            {{data.name | translate}} 
          </td>
        </ng-container> 
      
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef class="text-center font-weight-bold"> {{actions[0].name}} </th>
          <td mat-cell *matCellDef="let data" class="text-center">
            <mat-checkbox *ngIf="staff==false ||  isActionChecked(data,actions[0].id)" [disabled]="staff || roleName=='Super Admin'" [checked]="isActionChecked(data,actions[0].id)" [id]="data.name+'Name'+'View'" class="amateur mat-custom-chckbox" color="primary" (change)="updateChildreanStatus(data,actions[0].id)"></mat-checkbox>
          </td>
        </ng-container> 
    
        <ng-container matColumnDef="create">
          <th mat-header-cell *matHeaderCellDef class="text-center font-weight-bold"> {{actions[1].name}} </th>
          <td mat-cell *matCellDef="let data" class="text-center">
            <mat-checkbox *ngIf="(staff==false ||  isActionChecked(data,actions[1].id)) && data.key != 'system-configuration' && data.key != 'reason-management' && data.key != 'admin-access-management' && data.key != 'cart-management'" [disabled]="staff || roleName=='Super Admin'" [checked]="isActionChecked(data,actions[1].id)" [id]="data.name+'Name'+'Create'" class="create mat-custom-chckbox" color="primary" (change)="updateChildreanStatus(data,actions[1].id)"></mat-checkbox>
          </td>
        </ng-container> 
    
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="text-center font-weight-bold"> {{actions[2].name}} </th>
          <td mat-cell *matCellDef="let data" class="text-center">
            <mat-checkbox *ngIf="(staff==false ||  isActionChecked(data,actions[2].id)) && (data.key != 'admin-access-management' || roleName=='Super Admin') && data.key != 'cart-management'" [disabled]="staff || roleName=='Super Admin'" [checked]="isActionChecked(data,actions[2].id)" [id]="data.name+'Name'+'Edit'" class="edit mat-custom-chckbox" color="primary" (change)="updateChildreanStatus(data,actions[2].id)"></mat-checkbox>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="text-center font-weight-bold"> {{actions[3].name}} </th>
          <td mat-cell *matCellDef="let data" class="text-center">
            <mat-checkbox *ngIf="(staff==false ||  isActionChecked(data,actions[3].id)) && data.key != 'system-configuration' && data.key != 'reason-management' && data.key != 'admin-access-management' && data.key != 'cart-management'" [disabled]="staff || roleName=='Super Admin'" [checked]="isActionChecked(data,actions[3].id)" [id]="data.name+'Name'+'Delete'" class="delete mat-custom-chckbox" color="primary" (change)="updateChildreanStatus(data,actions[3].id)"></mat-checkbox>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="import">
          <th mat-header-cell *matHeaderCellDef class="text-center font-weight-bold"> {{actions[4].name}} </th>
          <td mat-cell *matCellDef="let data" class="text-center">
            <mat-checkbox *ngIf="(staff==false ||  isActionChecked(data,actions[4].id)) && data.key != 'consent-management' && data.key != 'reason-management' && data.key != 'admin-access-management' && data.key != 'cart-management' && data.key != 'ticket-type'" [disabled]="staff || roleName=='Super Admin'" [checked]="isActionChecked(data,actions[4].id)" [id]="data.name+'Name'+'Import'" class="import mat-custom-chckbox" color="primary" (change)="updateChildreanStatus(data,actions[4].id)"></mat-checkbox>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="export">
          <th mat-header-cell *matHeaderCellDef class="text-center font-weight-bold"> {{actions[5].name}} </th>
          <td mat-cell *matCellDef="let data" class="text-center">
            <mat-checkbox *ngIf="(staff==false ||  isActionChecked(data,actions[5].id)) && data.key != 'consent-management' && data.key != 'reason-management' && data.key != 'admin-access-management' && data.key != 'cart-management' && data.key != 'ticket-type'" [disabled]="staff || roleName=='Super Admin'" [checked]="isActionChecked(data,actions[5].id)" [id]="data.name+'Name'+'Export'" class="export mat-custom-chckbox" color="primary" (change)="updateChildreanStatus(data,actions[5].id)"></mat-checkbox>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>


<div class="col-md-12 "*ngIf="norecord">
  <div class="bg-white col-md-12 no-record">
      <div class="no-record-content">
          <img src="../assets/images/no-record.png">
          <p class="no-record-title mb-0 mt-2">{{'Available_list.No' | translate}} {{'ROLES_ABD_PERMISSIONS.Role' | translate}} {{'Available_list.Found' | translate}}</p>
      </div>
  </div>
</div>


  
<div class="buttonDiv mb-0">
  <button type="button"  class="reset-btn" (click)="back.emit($event)"  >{{'ROLES_ABD_PERMISSIONS.Cancel' | translate}}</button>
</div>

    
<div class="col-md-12 "*ngIf="roleNotFind">
  <div class="bg-white col-md-12 no-record">
      <div class="no-record-content">
          <img src="../assets/images/no-record.png">
          <p class="no-record-title mb-0 mt-2">{{'Available_list.No' | translate}} {{'ROLES_ABD_PERMISSIONS.Role' | translate}} {{'Available_list.Found' | translate}}</p>
      </div>
  </div>
  <div class="buttonDiv mb-0">
    <button type="button"  class="reset-btn" (click)="back.emit($event)"  >{{'ROLES_ABD_PERMISSIONS.Cancel' | translate}}</button>
  </div>
</div>
