<aside class="main-sidebar">
    <section class="sidebar">
        <ul id="side-menu" class="sidebar-menu w-100" [ngClass]="activeMenu"
            *ngIf="sideMenu && sideMenu.length > 0 && permissionsList.length >0">
            <ng-container *ngFor="let menu of sideMenu; let i = index;">
                <li *ngIf="!menu.children && checkPermissions(menu.key)" class="menu2 my-3 " [ngClass]="activeClass(menu.route, 'li')"
                    [routerLink]="menu.route" tooltip="{{menu.label}}" placement="right" container="body" [adaptivePosition]="false">
                    <a href="javascript:" aria-expanded="false" data-toggle="collapse">
                        <i *ngIf="menu.iconClasses" class="{{menu.iconClasses}}"></i>
                        <img *ngIf="menu.imgName" src="../assets/images/{{menu.imgName}}" class="mr-2">
                        <span class="labelMenu">{{menu.label}}</span>
                    </a>
                </li>
                <li *ngIf="menu.children && checkPermissions(menu.key)" class="menu2" [ngClass]="activeClass(menu.route, 'li')">
                    <a href="javascript:" [routerLink]="menu.route" tooltip="{{menu.label}}" placement="right" container="body" [adaptivePosition]="false" aria-expanded="false" data-toggle="collapse">
                        <i *ngIf="menu.iconClasses" class="{{menu.iconClasses}}"></i>
                        <img *ngIf="menu.imgName" src="../assets/images/{{menu.imgName}}" class="mr-2">

                        <span class="labelMenu">{{menu.label}}
                            <span class="bedge pull-right" [ngClass]="activeClass(menu.route, 'bedge')">
                                {{ agenda }}
                            </span>
                        </span>
                        <!-- <i class="fa fa-angle-left pull-right"></i> -->
                    </a>
                    <ng-container *ngIf="menu['children'] && menu['children'].length > 0">
                        <ul class="treeview-menu2 {{menu.label+i}} sub-nav-menu"
                            [ngClass]="activeClass(menu.label, 'ul')">
                            <ng-container *ngFor="let cmenu of menu.children; let j = index;">
                                <li *ngIf="cmenu.route" [routerLink]="cmenu.route" tooltip="{{cmenu.label}}"  placement="right" container="body" [adaptivePosition]="false"
                                    [ngClass]="activeClass(cmenu.route, 'child1-li', menu.label)">
                                    <a href="javascript:" aria-expanded="false">
                                        <i *ngIf="cmenu.iconClasses" class="{{cmenu.iconClasses}}"></i>
                                        <span class="labelMenu">{{cmenu.label}}
                                            <span *ngIf="cmenu.label === 'To Do'"
                                                class="bedge pull-right"
                                                [ngClass]="activeClass(cmenu.label, 'bedge')">
                                                {{ todo }}
                                            </span>
                                            <span *ngIf="cmenu.label === 'Calendar Management'"
                                                class="bedge pull-right"
                                                [ngClass]="activeClass(cmenu.label, 'bedge')">
                                                {{ event }}
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li *ngIf="!cmenu.route"
                                    [ngClass]="activeClass(cmenu.label, 'li', menu.label)">
                                    <a href="javascript:" aria-expanded="false">
                                        <i *ngIf="cmenu.iconClasses" class="{{cmenu.iconClasses}}"></i>
                                        <span class="labelMenu">{{cmenu.label}}</span>
                                        <!-- <i class="fa fa-angle-left pull-right"></i> -->
                                    </a>
                                    <ng-container *ngIf="cmenu.children && cmenu.children.length > 0">
                                        <ul class="treeview-menu2"
                                            [ngClass]="activeClass(cmenu.label, 'ul')">
                                            <li *ngFor="let submenu of cmenu.children; let i = index;"
                                                class="subnav"
                                                [ngClass]="activeClass(submenu.label, 'child2-li', cmenu.label)"
                                                [routerLink]="submenu.route"
                                                routerLinkActive="active-link"
                                                [routerLinkActiveOptions]="{exact: true}">
                                                <a href="javascript:">
                                                    <i *ngIf="submenu.iconClasses"
                                                        class="{{submenu.iconClasses}}"></i>
                                                    <span class="labelMenu">{{submenu.label}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </li>
                            </ng-container>
                        </ul>
                    </ng-container>
                </li>

            </ng-container>


        </ul>
        
            <div class="side-menu-footer text-center">
                <button type="button" class="btn btn-logout py-2" (click)="logoutConfirms(template)"> <img src="../assets/images/logout.png"><span class="labelMenu-footer">{{'Logout' | translate}}</span></button>
            </div>
        
    </section>
</aside>

<ng-template #template>
    <div class="modal-header border-0 pb-0 flex-wrap">
      <h5 class="modal-title custom-title w-100 mt-0" id="exampleModalLabel">
        <b>{{'Logout' | translate}}</b>
      </h5>
      <!-- <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button> -->
      <hr class="divider-hr">
      <!-- <button type="button" class="close pull-right" aria-label="Close"
            (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body text-center">
      <div class="kt-scroll ps ps--active-y custom-text" data-scroll="true" style="overflow: hidden;">
        <p>{{'Are you sure want to Logout ?'}}</p>
       
      </div>
    </div>
    <div class="modal-footer border-0 d-flex justify-content-center align-items-center">
        <button type="button" class="search-btn "
        (click)="logout()">{{'Yes'}}</button>
        <button type="button" class="reset-btn ml-2" data-dismiss="modal"
        (click)="modalRef.hide()">{{'No'}}</button>
       
    
     
    </div>
  </ng-template>
