.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    text-align: center;
}

.logo-min-g{
    width: 30px;
    object-fit: contain;
    height: 30px;
}

.profile-image{
    width: 25px;
    object-fit: contain;
    height: 25px;
    border-radius: 2rem;
}

.bedge {
    margin-right: 25px;
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.sidebar-collapse .sidebar-menu.menuHover {
    // overflow: visible !important;
    li.mm-active {
        width: 230px !important;
        span.labelMenu {
            display: inline !important;
            top: 0;
            margin-left: -3px;
            padding: 12px 5px 12px 20px;
            background-color: inherit;
            text-indent: 10px;
        }
        
    }
    li.mm-active:hover {
        a {
            span.labelMenu {
                padding: 12px 5px 12px 5px;
            }
        }
    }
    
}

.sidebar-collapse .metismenu {
    // overflow: visible !important;
    li:hover {
        width: 230px;
    }
    .menu1.active a {
        border-left: 5px solid #ffcc00 !important;
    }
    .menu1.mm-active {
        width: 230px;
        span.labelMenu {
            display: inline !important;
            top: 0;
            margin-left: -3px;
            padding: 12px 5px 12px 20px;
            background-color: inherit;
            text-indent: 10px;
        }
    }
    .menu1.mm-active:hover {
        a {
            span.labelMenu {
                padding: 12px 5px 12px 5px;
            }
        }
    }
}

.menu2{
  
    font-size: 14px;
    font-weight: 300;
    a{
        img{
            width: 18px;
            margin-right: 10px;
        }
    }
}
.skin-yellow {
    .sidebar-menu{
        >li{
            &.mm-active{
                > a{
                    border-left: 5px solid #ffcc00 !important;
                    background-color: #21221f !important;
                }
            }
            >a{
                border-left: 5px solid transparent !important;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover,&:active {
                    border-left: 5px solid #ffcc00 !important;
                    background-color: #21221f !important;
                }
            }
        }
    }
}

.skin-yellow .sidebar-menu>li>a {
    border-left: 5px solid #ffcc00;
    background-color: #21221f;
}
.skin-red .sidebar-menu li>a {
    border-left: 5px solid #ffcc00 !important;
    background-color: #21221f !important;
}
.main-sidebar {
    background-color: #000000!important;
}
.sidebar{
    position: relative!important;
    height: calc(100vh - 60px)!important;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
}
span.bedge {
    text-indent: 0%;
}

.side-menu-footer{
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.btn-logout{
    border-radius: 20px;
    width: 80%;
    border: none;
    color: #E1E1E1;
    font-size: 14px;
    font-weight: 300;
    background-color: #212220;
    position: relative;
    img{
        width: 20px;
        position: absolute;
        left: 15px;
        top: 9px;
    }
}
.sub-nav-menu{
     > li{
    padding: 5px 5px 5px 35px;
    // background-color: rgb(33, 34, 31) !important;
}
}
.sub-nav-menu {
    > .active a{
    border-left: 5px solid #ffcc00!important;
    background-color: #21221f !important;
   // background-color: rgb(33, 34, 31) !important;
}

}
.sub-nav-menu {
    > li:hover a{
    border-left: 5px solid #ffcc00!important;
    background-color: #21221f !important;
   // background-color: rgb(33, 34, 31) !important;
}

}
