<div class="container-fluid auth-block">
    <div class="row no-gutter h-100">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image">
        <img
          src="../../../assets/images/mini-logo.png"
          class="mini-logo mt-5 ml-5"
          alt="Please wait..."
        />
      </div>
  
      <!-- The content half -->
      <div class="col-md-6 bg-white d-flex">
        <div class="login d-flex flex-column justify-content-center py-5">
          <!-- Demo content-->
          <p class="display-4 login-titel mb-1">
            {{ "Reset your Password" | translate }}
          </p>
          <p class="text-note mb-3">
            <img
            src="../../../assets/images/envelope.png"
            alt="Please wait..."
          />
            {{ otpParam.controls['username'].value | translate }}
          </p>
          <form [formGroup]="otpParam" role="form" class="w-100">
            <ng-otp-input *ngIf="+otpLength > 0" #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
            <div class="validation-div">
                <app-validation-message [control]="otpParam.controls['otp']" [messages]="errorMsg.otp">
                </app-validation-message>
                </div>
                <p class="otp-note">{{'(Your OTP will expire in '+otpValidTime+')' |translate}}</p>
                <p class="otp-resend">{{'Not received your code? '|translate}} <a (click)="reSendOTP()" [ngClass]="{'disable': otpResendTry == +otpMaxAttemptResend}" class="pointer">{{'Resend Code'|translate}} </a> </p>
            <div class="d-flex align-items-center">
               
              <button
                [disabled]="verifyOtpTry == +otpMaxAttempt"
                type="submit"
                (click)="otpValidate(otpParam.value, otpParam.valid)"
                class="btn btn-login mb-2 py-3 px-5 mb-2 shadow-sm"
              >
                {{ "Verify" | translate }}
              </button>
              <span class="forgot-text ml-auto pointer" (click)="back()"><img
                src="../../../assets/images/up-arrow.png"
                class="back-arrow mr-2"
                alt="Please wait..."
              />{{
                "Back to Login" | translate
              }}</span>
            </div>
          </form>
          <!-- End -->
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
  