<!-- <div class="card c-d-card"> -->
    <div class=" d-flex align-items-center mb-3">
        <h4 class="mr-3 block-title mb-0 location-title">Roles and Permissions</h4>  
        <!-- <button type="button" *ngIf="!createRole" class="btn btn-common dark ml-auto"  (click)="showCreateRoleForm()"><i class="fa-solid fa-plus mr-2"></i>Create Role</button> -->
    </div>
    <div>
        <app-create-roles *ngIf="createRole" [roleId]="editRoleId" [roleValue]="roleValue" [roleName]="editRoleName" [staff]="staff" [editRole]="editRole" (back)="hideRoleForm()"></app-create-roles>
    </div>



<div class="card c-d-card" *ngIf="!createRole && listTable && view == true">
    <div class="card-header">
        <h5 class="table-titile mb-0">List of Roles</h5>
    </div>
    <div class="card-body location-table table-responsive p-0">
        <table class="table table-striped">
            <thead class="w-100">
                <tr>
                    <th *ngFor="let item of roleTableFields " class="font-weight-bold">{{item}}</th>
                </tr>
            </thead>
            <tbody class="w-100">
                <tr *ngFor="let item of roleTable ; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td *ngIf="item.name=='Super Admin'" class="w-85 text-center">
                        <img src="../../../../assets/images/eye.png" width="20px" height="12px" alt="" (click)="editRoles(item)">
                    </td>
                    <td class="text-center w-70" *ngIf="item.name !== 'Super Admin'" >
                        <img height="18px" (click)="editRoles(item)"  src="../assets/images/edit.png" class="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>