<div class="container-fluid auth-block">
    <div class="row no-gutter h-100">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image">
        <img
          src="../../../assets/images/mini-logo.png"
          class="mini-logo mt-5 ml-5"
          alt="Please wait..."
        />
      </div>
  
      <!-- The content half -->
      <div class="col-md-6 bg-white d-flex">
        <div class="login d-flex flex-column justify-content-center py-5">
          <!-- Demo content-->
          <p class="display-4 login-titel mb-2">
            {{ "Forgot Password?" | translate }}
            <!-- <span class="highlight">{{ "LOGIN.MTN" | translate }}</span> -->
          </p>
          <p class="text-note mb-3">
            <img
            src="../../../assets/images/envelope.png"
            alt="Please wait..."
          />
            {{ this.forgotParam.controls['username'].value | translate }}
          </p>
          <form [formGroup]="forgotParam" role="form" class="w-100">

            <button
            *ngIf="link"
            type="submit" (click)="forgot(forgotParam.value, forgotParam.valid,'link')"
            class="btn btn-forgot mb-2 py-3 px-5 mb-3 shadow-sm"
          >
            {{ "Reset Password Using Link" | translate }}
          </button>

          <button
          *ngIf="otp"
          type="submit" (click)="forgot(forgotParam.value, forgotParam.valid,'otp')"
          class="btn btn-forgot mb-2 py-3 px-5 mb-2 shadow-sm"
        >
          {{ "Reset Password Using OTP" | translate }}
        </button>
  
            <div class="d-flex">
              <span class="forgot-text pt-3 pointer " (click)="back()"> <img
                src="../../../assets/images/up-arrow.png"
                class="back-arrow mr-2"
                alt="Please wait..."
              />{{
                "Back to Login" | translate
              }}</span>
            </div>
          </form>
          <!-- End -->
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
  