@import '../../../../variable.scss';
.login,
.image {
  background-color: #fff;
}
.auth-block{
    min-height: 100vh;
    height: 100vh;
}
.login{
    max-width: 500px;
    margin: 0 auto;
}
.bg-image {
    background-image: url("../../../../assets/images/main-login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}
.mini-logo{
    width: 84px;
    height: 84px;
    margin-left: 35px;
    margin-top: 50px;
}
.form-group{
    position: relative;
    .email{
        width: 14px;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .password{
        width: 14px;
        position: absolute;
        left: 20px;
        top: 16px;
    }
}
.login-input{
    height: 50px;
    border: 0.6000000238418579px solid #E0E0E0;
}
input[type="email"]::placeholder{
    color: #868E96;
}
input[type="password"]::placeholder{
    color:#868E96;
}
.login-titel{
    font-size: $font-size-42;
    font-weight: 500;
    margin-bottom: 0;
    .highlight{
        font-size: $font-size-52;
        font-weight: 500;
        color: #00678F;
    }
}
.text-note{
    img{
        width: 17.5px;
        height: 13px;
    }
    font-size: $font-size-18;
    color: #303030;
}

.forgot-text{
    color: #303030;
    font-size: $font-size-18;
    font-weight: 400;
    display: flex;
    align-items: center;
    img{
        width: 23px;
    }
}

.btn-forgot{
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}