/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variable.scss';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~ngx-toastr/toastr';
// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    background-color: $body-bg;
    font-family: 'DM Sans', sans-serif !important;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    &::after {
        content: '';
        display: block;
        // height: 100px;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'DM Sans', sans-serif !important;
}
html {
    height: 100%;
}
.language-en-btn{
    border-radius: 2px 0px 0px 2px !important;
    border: 1px solid #C1C1C1;
    border-right: none;
    font-size: $font-size-14 !important;
    background-color: #fff;
    padding-inline: 10px !important;
}
.language-ar-btn{
    border-radius: 0px 2px 2px 0px !important;
    border: 1px solid #C1C1C1;
    border-left: none;
    font-size: $font-size-14 !important;
    background-color: #fff;
    padding-inline: 10px !important;
}
.yellow-bg{
    background-color: #FFCC00 !important;
    border-color: #FFCC00 !important;
}
button{
    text-transform: capitalize;
    font-weight: 500;
}
.password-hide-show{
    font-size: 1.5em;
    position: absolute;
    right: -35px;
}
.toast-success{
    background-image: url(assets/images/success.png) !important; 
    opacity: 1 !important;
    background-color: #E7FDE5 !important;
    border: 1px solid #15B14C !important;
    border-radius: 6px !important;
    color: #15B14C !important;
}
.error-msg-end{
    position: absolute !important;
    color: #FF5A5A !important;
    font-size: $font-size-12;
}
.error-msg-start{
    position: absolute!important;
    bottom: 11px;
    left: 100px;
    color: #ff5a5a!important;
    font-size: 12px;
}
.otp-input{
    width: 64px !important;
    height: 56px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 5px !important;
}
.otp-all-input{
    height: unset !important;
}
.pointer{
    cursor: pointer !important;
}
.required {
    color: red;
    font-size: 80%;
    font-weight: 400;
}

.m-t-20 {
    margin-top: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.card {
    .card-header {
        .title {
            margin: 0;
            font-size: $font-size-20;
            line-height: 38px;
        }
        .btn {
            margin: 0 10px;
        }
    }
    .card-body {
        &.scroll-table {
            height: 300px;
            overflow-x: scroll;
        }
    }
}

.table {
    .thead-dark th {
        color: $white;
        background-color: $backgroundColor; //#d3e1e6;
        border-color: $white;
    }
    td,
    th {
        white-space: normal !important;
        &.selection-box {
            width: 47px;
            text-align: center;
        }
    }
    .action-td {
        padding: 5px 12px;
        white-space: nowrap !important;
        .btn {
            width: 34px;
            height: 34px;
            padding: 0;
            margin: 0 1px;
            text-align: center;
            color: $iconButtonColor;
            border-color: transparent;
            background-color: transparent;
            &:hover,
            &:active,
            &:focus,
            &.active {
                box-shadow: unset;
                color: $iconButtonColor;
                border-color: transparent;
                background-color: transparent;
            }
        }
    }
    tr {
        &.active {
            color: #212529;
            background-color: rgba(0, 0, 0, .075);
        }
    }
}

.btn-submit {
    margin: 10px;
}

.navbar-static-top {
    padding: 0;
    .sidebar-toggle {
        padding: 14px;
    }
}

.search-input {
    width: 420px;
    float: right;
}

// .pagination-css {
//     width: 60%;
//     display: inline-flex;
// }
// .custom-control {
//     width: 110px;
//     margin-left: 8%;
//     display: inline-flex;
//     white-space: nowrap;
// }
.imageThumb {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.main-sidebar {
    background-color: #161616 !important;
    position: fixed;
    top: 60px;
    padding-top: 0;
    transform: unset !important;
}

.date_Section {
    position: relative;
    .date_icon {
        position: absolute;
        right: 11px;
        top: 12px;
    }
    .mat-form-field {
        width: 100%;
        border: 1px solid #b1c1c9;
        background-color: #fff;
        padding: 7px 5px 6px 10px;
        height: auto;
        border-radius: 6px;
        -webkit-appearance: none;
        .mat-form-field-wrapper {
            padding-bottom: 0;
            .mat-form-field-flex {
                background-color: #fff;
                border: 1px solid #E0E0E0;
                .mat-form-field-infix {
                    padding: 0;
                    border-top: none;
                    input {
                        font-size: 0.749em;
                        color: #414141;
                    }
                    .mat-form-field-label-wrapper {
                        position: absolute;
                        .mat-form-field-label {
                            display: none;
                            &.mat-form-field-empty {
                                display: block;
                                margin: 0;
                                position: unset;
                                span {
                                    font-size: 0.749em;
                                    color: #414141;
                                }
                            }
                        }
                    }
                }
                .mat-form-field-suffix {
                    opacity: 0;
                    z-index: 1;
                }
            }
            .mat-form-field-underline {
                display: none;
            }
        }
    }
}

.modal-center {
    top: 50%;
    transform: translateY(-50%) !important;
}

.previewHeight {
    height: 500px !important;
}


/*=== Custom Css ===*/
.logo-lg{
    padding-top: 3px;
}
.logo-min-g{
    border-radius:0px !important;
    border: none !important;
}
.main-header .logo-lg img {
    width: 54px;
    object-fit: contain;
    height: auto;
}

.skin-red .main-header .navbar {
    background-color: #d73925 !important;
}

.skin-red .main-header .logo {
    border-right: 1px solid #fff;

    // logo align-left
    text-align: left;
}

.skin-yellow {
    .sidebar-menu,.sub-nav-menu{
        >li{
            &.active-link{
                > a{
                    border-left: 5px solid #ffcc00 !important;
                    background-color: #21221f !important;
                }
            }
            >a{
                border-left: 5px solid transparent !important;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover,&:active,&.active-link {
                    border-left: 5px solid #ffcc00 !important;
                    background-color: #21221f !important;
                   
                }
            }
        }
    }
}

.skin-red .sidebar-menu li.menu-open ul li.menu-open>a{
    background-color:unset !important;
}
.skin-yellow .sidebar-menu>li:hover>a, .skin-yellow .sidebar-menu>li.active>a, .skin-yellow .sidebar-menu>li.menu-open>a{
    border-left: 5px solid #ffcc00 !important;
}
.skin-red .sidebar-menu li.menu-open ul li.menu-open ul li.menu-open>a {
    background-color: rgb(101, 0, 13);
}

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.fa-solid,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
    margin-right: 10px;
}

.skin-red .sidebar-menu>li>.treeview-menu {
    background: #000000;
}

.skin-red .sidebar-menu>li>.treeview-menu2 {
    background: #000000;
}

.skin-red .sidebar a {
    color: #ffffff;
}

.skin-red .sidebar-menu .treeview-menu>li>a {
    color: #ece8e8;
}

.skin-red .sidebar-menu .treeview-menu2 {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}
.skin-red .sidebar-menu .treeview-menu2>li {
    list-style: none;
    list-style-type: none;
    display: block;
    text-align: left;
    margin: 0;
}
.skin-red .sidebar-menu .treeview-menu2>li>a {
    color: #ece8e8;
    padding: 5px 5px 5px 15px;
    width: 100%;
    display: block;
}

.skin-red .sidebar-menu .treeview-menu2>.subnav {
    text-indent: 20px;
}

.btn-danger {
    background-color: #d73925 !important;
}
.form-control{
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    &::placeholder{
        color: #868E96;
    }
}
.form-control.ng-touched.ng-invalid {
    border: 1px solid #dc3545;
}

.ng-select.ng-touched.ng-invalid {
    border: 1px solid #dc3545;
    border-radius: 5px;
}
.rounded-btn {
    border: 2px solid white;
    border-radius: 20px;
}
.fc-event-container {
    a:hover {
        cursor: pointer !important;
    }
}

.custom-staff-drop{
    .dropdown-list
    ul{
        &.item2{
            padding-bottom: 20px !important;
        }
    }
}

.name_hover{
    cursor: pointer;
}

.slick-prev:before, .slick-next:before {
    font-size: 32px;
}

.slick-prev {
    left: -36px;
}

.slick-next {
    right: -25px;
}

span.logo-mini {
    text-align: center;
}

.skin-yellow .main-header .navbar {
    background-color: #ffcc00;
}
.skin-yellow .main-header .logo {
    background-color: #ffcc00 !important;
    min-height: 60px;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-yellow .main-header .navbar .sidebar-toggle {
    color: #000;
}
.skin-yellow .sidebar-menu>li:hover>a{
    background: transparent;
}
.main-header {
    position: fixed;
    max-height: 100px;
    z-index: 1030;
    width: 100%;
    top: 0;
    z-index: 999;
}
.content {
    margin-top: 60px;
}
.main-header .navbar{
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 60px;
    border-radius: 0;
}
.sidebar-menu:hover {
    overflow: overlay !important;
}

.btn-common{
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border: 1px solid #D7E4E9;
    padding-inline: 10px;
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    img{
        width: 18px;
        margin-right: 5px;
    }
    &.dark{
        background-color: #000000;
        color: #fff;
    }
}
.btn-common-reset{
    font-size: $font-size-16;
    background-color: #fff;
    color: #000;
    border: 1px solid #dadada;
    padding-inline: 17px !important;
    border-radius: 5px !important;
    height: 38px;
    img{
        width: 18px;
        margin-right: 5px;
    }
}
.table-rounded{
    border-radius: 8px !important;
}
.btn-enabled-status{
    font-size: 12px;
    border: 1px solid #15B14C;
    background-color: #E7FDE5;
    color: #15B14C;
    font-weight: 300;

}
.btn-disabled-status{
    font-size: 12px;
    border: 1px solid #15B14C;
    background-color: #E7FDE5;
    color: #15B14C;
    font-weight: 300;

}
.content{
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

.green-dot{
    color: #15B14C;
}

.red-dot{
    color: #ED0C6E;
}

.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 7px solid transparent;
    cursor: pointer;
  }
  
  .caret.down {
    position: absolute;
    bottom: -4px;
    right: -20px;
  }
  
  .caret.up {
    top: -4px;
    position: absolute;
    left: 6px;
  }

  tr{
    th{
      padding: 10px 30px 10px 0.75rem;
      position: relative;
      .sort-icon {
          position: absolute;
          display: inline-block;
          right: 20px;
          height: 30px;
          top: 7px;
            .caret.up {
                top: 0;
                position: absolute;
                left: 0;
            }
            .caret.down {
                position: absolute;
                bottom: 0;
                right: initial;
            }
      }
    }
  }

.short-label{
    position: relative;
    font-size: $font-size-10;
}
.ngx-pagination li{
    font-size: $font-size-12;
}
.ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #FFCC00 !important;
    color: #000 !important;
    cursor: default;
    border-radius: 20px !important;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
    content: '<' !important;
}
.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
    content: '>' !important;
}

.bg-gray{
    background: #E1E1E1 0% 0% no-repeat padding-box;
}
.mat-date-range-input-container{
    display: none !important;
}
// .cdk-overlay-pane{
//     top: 145px !important;
// }
.modal-content{
    border-radius: 10px !important;
}
.mat-form-field-appearance-fill .mat-form-field-underline::before{
    height: 0px !important;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
padding: 0 .5em !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0px !important;
    border-radius: 5px !important;
    background-color: #fff;
    border: 1px solid #E0E0E0;
}
.mat-form-field-wrapper{
    padding: 0px;
}
.mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple{
    opacity: 0 !important;
}
.mat-form-field-infix{
    top: -7px;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 !important;
}
.btn-yellow-common{
    background-color: #FFCC00;
    border-radius: 5px;
}
.btn-yellow-search-common{
    background-color: #FFCC00;
    border-radius: 5px;
    border: none !important;
    padding-inline: 17px !important;
    height: 38px;
}
.save_button{
    padding: 5px 20px;
    border-radius: 5px;
    font-size: $font-size-14;
    outline: none;
    border: 1px solid #FFCC00;
    background-color: #FFCC00;
}
.cancel_button{
    padding: 5px 20px;
    border-radius: 5px;
    font-size: $font-size-14;
    outline: none;
    border: 1px solid #C1C1C1;
    background-color: #fff;
}
.ngx-file-drop__drop-zone{
    border: 0.6000000238418579px dashed #1EAFFF !important;
    border-radius: 4px !important;
    height: 130px !important;
    margin: auto;
    background-color: #1EAFFF0A;
}
.ngx-file-drop__content{
    color: #000 !important;
    font-size: $font-size-16;
    display: table !important;
    height: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 30px !important;
    justify-content: center;
}
.btn-fileUpload{
    background: transparent;
    border: none;
    font-size: $font-size-14;
    color: #1EAFFF;
    text-decoration: underline;
}
.btn-fileUpload-csv{
    background: transparent;
    border: none;
    font-size: $font-size-12;
    color: #1EAFFF;
    text-decoration: underline;
    img{
        width: 12px;
        margin-right: 5px;
    }
}

.btn-file{
    font-size: $font-size-12;
    background-color: #FEF9E8;
    border: 1px solid #FFCC00;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.btn-file-white{
    font-size: $font-size-12;
    background-color: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:  #FFCC00;
}

.mat-tab-label-content{
    font-size: 17px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #FFCC00;
    transition: transform ease 280ms,background-color ease 280ms;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #FFCC00;
}
.mat-radio-label-content{
    // margin-left: 5%;
    margin-right: 10px;
}
.mat-radio-label{
    margin-left: 0px;
    margin-right:10px;
}
.br-8{
    border-radius: 8px !important;
}
    // margin-left: 10px;
    // margin-right:10px;

// *[tooltip]:hover::after{
//     width: fit-content !important;
//     white-space: nowrap;
// }

// *[tooltip].red-dot{
//     &:hover{
//         &::after{
//             background: #ffe8e8 !important;
//             color: red !important;
//             border-color: red;
//         }
//         &::before{
//             border-color: red transparent !important;
//         }
//     }
// }

*[tooltip]:hover::after{
    background: #E7FDE5 !important;
    bottom: 23px;
    color: #15B14C !important;
    content: attr(tooltip);
    padding: 3px 10px !important;
    position: absolute;
    z-index: 98;
    left: -17% !important;
    width: 230px;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.5em;
    border: 1px solid #15B14C;
    border-radius: 3px !important;
    width: fit-content !important;
    white-space: nowrap;
    transform: translateX(-10px);
}
*[tooltip]{
    display: inline-block;
}
*[tooltip]:hover:before{
    border: solid;
    border-color: #15B14C transparent !important;
    border-width: 12px 6px 0 6px;
    content: "";
    left: -2px !important;
    bottom: 18 !important;
    position: absolute;
    border-radius: 2px  ;
    background-color: #E7FDE5 !important;
  }

  *[tooltip]:hover::content{
    border: solid;
    border-color: #15B14C transparent !important;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 2px !important;
    bottom: 18 !important;
    position: absolute;
    border-radius: 2px  ;
    background-color: #E7FDE5 !important;
  }
  
// new css
.side-menu-item-list-block{
    width: 250px;
}
.main-content-wrapper{
    width: calc(100% - 250px);
    padding-left: 30px;
}


// main content
.content-wrapper{
    min-height: calc(100vh - 60px) !important;
}

mk-layout-footer{
    display: none !important;
}
.mainLabel{
    font-weight: 500 !important;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
}
.mat-radio-label-content{
    font-size: 14px;
    font-weight: 500;
}
.table-title{
    font-weight: 500;
    font-size: 18px;
}
.search-btn{
    height: 38px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px !important;
    font-size: 14px;
    border: 0 !important;
}
.reset-btn{
    height: 38px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px !important;
}
.location-table{
    .table{
        thead{
            th{
                font-size: 14px;
                font-weight: 500;
                color: #000;
                white-space: nowrap !important;
                &:last-child{
                    text-align: center;
                }
            }
        }
        tbody{
            tr:nth-child(odd){
                background-color: #F9F9F9;
            }
            td{
                font-size: 14px;
                font-weight: 500;
                color: #000;
                vertical-align: baseline;
                max-width: 200px;
                word-wrap: break-word;
            }
        }
    }
}
.w-70{
    width: 70px;
}
.w-85{
    width: 85px;
}
.date-lable{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
input,textarea{
    font-size: 14px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    &::placeholder{
        padding-left: 0 !important;
        font-size: 14px !important;
    }
}
select{
    padding-left: 10px !important;
    font-size: 14px;
}
.reset-btn{
    width: 120px;
}
.search-btn{
    width: 120px;
}
.enable_status_Container_left{
    font-weight: 500;
    font-size: 14px;
}

//modal
.modal{
    background: rgba(255,255,255,.3);
    opacity: 1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    .modal-content{
        box-shadow: none;
    }
}
.modal-backdrop {
    opacity: .3 !important;
}
.custom-modal{
    .modal-header{
        padding: 20px;
        .modal-title{
            font: normal normal 500 18px/24px DM Sans;
            letter-spacing: 0px;
            color: #000000;
            text-align: center;
        }
    }
    .modal-body{
        padding: 20px;
        p{
            font: normal normal normal 16px/24px DM Sans;
            letter-spacing: 0px;
            color: #303030;
            margin-bottom: 0;
        }
    }
    .modal-footer{
        padding: 0 20px 20px;
        .search-btn,.reset-btn{
            padding: 10px 39px;
            width: auto;
        }
        .search-btn{
            background-color: #FFCC00;
        }
        .reset-btn{
            background: #fff;
            border: 1px solid #C1C1C1;
        }
    }
}
.view-detail-modal{
    .modal-header{
        padding: 20px;
        border-bottom: 1px solid #E1E1E1;
        .modal-title{
            font-size: 20px;
            color: #000;
            font-weight: 700;
            line-height: 24px;
        }
    }
    .modal-body{
        padding: 15px 20px 20px;
    }
}
.detail-media{
    > img{
        height: 90px;
        width: 90px;
        border-radius: 10px;
        background: #F2F2F2;
    }
    .media-body{
        h2{
            font-size: 17px;
            line-height: 25px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 5px;
            margin-top: 3px;
        }
        h4{
            font-size: 12px;
            color: #666666;
            line-height: 25px;
            font-weight: 500;
            margin-bottom: 0;
        }
        p{
            font-size: 14px;
            line-height: 25px;
            color: #000000;
            margin-bottom: 0;
        }
    }
}
.preview-modal{
    .modal-content{
        border-radius: 4px !important;
        border: 5px solid #FFF1CF;
        background-color: rgb(251,246,232);
        .modal-header{
            background-color: #FFF1CF !important;
            padding: 10px !important;
            .close{
                height: 30px;
                width: 30px;
                margin: 0;
                border: 2px solid #000000;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 100%;
                opacity: 1;
                color: #000000;
            }
            .modal-title{
                font-size: 20px;
                line-height: 26px;
                font-weight: 500;
                color: #000000;
            }
        }
        .modal-body{
            padding: 8px;
            .table{
                border: 1px solid #CFCFCF;
                margin-bottom: 0;
                td,th{
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 500;
                    color: #000;
                }
                td{
                    border: 0;
                }
                thead{
                    th{
                        background-color: #FFF1CF;
                        border: 0;
                        border-left: 1px solid #CFCFCF;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
.divider-hr{
    border-top: 1px solid #d2d2d291;
    margin-bottom: 0!important;
    width: 100%;
}
.toggle-icon{
    width: 10px !important;
}
.nav-pills-custom{
    .nav-link{
        &.show,&.active {
            color: #000;
            background: #ffcc00 !important;
        }
        &.show{
            .toggle-icon{
                transform: rotate(-180deg);
            }
        }
    }
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: unset;
}
.c-d-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: 0;
    .card-header{
        background: #fff;
        border-radius: 8px 8px 0 0;
        border-bottom-color: #E1E1E1;
        padding: 18px;
    }
}
.validation-div{
    display: inline;
}
.location-title{
    text-align: left;
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.countryInput{
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    outline: none;
}
.mat-form-field.mat-focused .mat-form-field-ripple.mat-accent {
    background-color: unset;
}
.mat-form-field.mat-accent .mat-input-element {
    caret-color: #2c3134;
}
.sidebar-mini.sidebar-collapse{
    .main-header .logo {
        width: 60px;
    }
    .main-sidebar{
        width: 60px!important;
    }
    .btn-logout{
        img{
            position: static !important;
        }
        .labelMenu-footer{
            display: none;
        }
    }
}
.sidebar-collapse{
    .treeview-menu2{
        display: none !important;
    }
}
.btn-login{
    border: none;
    background-color: #FFCC00;
    border-radius: 5px;
    height: 56px;
    width: 160px;
    font-weight: 500;
}
.p-m-box{
    opacity: 1 !important;
    min-width: 239px;
    .tooltip-arrow{
        &::before{
            border-bottom-color: #FFF1CF;
        }
    }
    .tooltip-inner{
        background-color: #FFF1CF;
        box-shadow: 0px 3px 6px #0000001A;
        border-radius: 6px;
        text-align: left;
        padding: 15px;
        color: #000000;
        max-width: unset !important;
        h5{
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 3px;
        }
        ul{
            > li{
                font-size: 11px;
                line-height: 24px;
            }
        }
    }
}
.mat-checkbox-disabled{
    cursor: not-allowed !important;
    display: inline !important;
    &:not(.mat-checkbox-checked){
        .mat-checkbox-frame {
            border-color: #e2e2e2;
            background: #e2e2e2;
        }
    }
}
.mat-checkbox-checkmark-path {
    stroke: #000000!important;
}
.mat-checkbox-disabled
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #FFCC00;
}
.mat-custom-chckbox{
    label{
        margin-bottom: 0;
        .mat-checkbox-frame{
            border:1px solid #c7c7c78a;
        }
    }
}
.mat-tooltip {
    background: #ffe8e8;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    overflow:visible !important;
    margin:14px 0 0 !important;
    border: red 1px solid !important;
    color: red !important;

    &::after{
        content: "";
        border:5px solid transparent;
        border-bottom-color: rgb(255, 0, 0);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.treeview-menu2{
        height: auto !important;
        display: block !important;
}
.mandatory{
    color:red;
  }
.mat-form-field-underline{
    display: none;
}


.inner-search{
    img{
        margin-left: 10px;
        margin-top: 3px;
    }
    input{
        text-overflow: ellipsis;
        padding: 0 5px !important;
        margin-top: 2px;
    }
}

.json-input{
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}