// Color 
$body-bg:#f5f5f5;
$backgroundColor: #666666;
$button-bg: #f62b37;
$iconButtonColor: #313131;
$blue:#000166;
$white:#fff;
$light-black:#262626;
$gray:#868686;
$light-gray:#d2d2d2;
$red:#F52F5E; //#FF0000;
$green:#09E284; //#008000;
// Font size
$font-size-10:10px;
$font-size-12:12px;
$font-size-14:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;
$font-size-22:22px;
$font-size-24:24px;
$font-size-26:26px;
$font-size-27:27px;
$font-size-30:30px;
$font-size-42:42px;
$font-size-52:52px;
// Max width
$max-width: 475px;
$max-height: 450px;
$input_border_color: #b1c1c9;
$btn_txt: 0.874em;
$tag_color: #414141;
$box_txt: 0.749em;
$box_input_txt_color: #000;
$box_txt_color: #fff;
$form_edit_link_color: #1080ff;
$upload_txt: 0.624em;
$upload_sub_txt_color: #78909c;