<ng-container *ngIf="isCustomLayout else layoutEnabled">
    <router-outlet>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffcc00" type = "ball-clip-rotate" [fullScreen] = "true"></ngx-spinner>
    </router-outlet>
</ng-container>
<ng-template #layoutEnabled>
    <mk-layout-wrapper>
        <!-- <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false"
            [logoLink]="['/', 'admin', 'home']">
            <mk-layout-header-logo><img src="../assets/images/logo-mini.png" width="200"></mk-layout-header-logo>
            <mk-layout-header-logo-mini><img src="../assets/images/logo-mini.png" class="logo-min-g">
            </mk-layout-header-logo-mini>
            <div class="profile-users">
                <span class="profile-name logout" (click)="logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Logout
                </span>
            </div>
        </mk-layout-header> -->
        <app-header [userInfo]="userInfo"></app-header>
        <mk-layout-sidebar-left>
            <div class="skin-red sidebar-mini">
                <app-menu-sidebar></app-menu-sidebar>    
            </div>
        </mk-layout-sidebar-left>

        <mk-layout-content>
            <router-outlet (profileData)="profileData($event)">
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffcc00" type = "ball-clip-rotate" [fullScreen] = "true"></ngx-spinner>
            </router-outlet>
        </mk-layout-content>
        <mk-layout-footer>
            <mk-layout-footer-left> </mk-layout-footer-left>
            <mk-layout-footer-right> </mk-layout-footer-right>
        </mk-layout-footer>
    </mk-layout-wrapper>
    <ng-template>