<div class="modal-content">
    <div class="modal-header position-relative p-1">
        <h5 class="modal-title custom-title mt-0" id="exampleModalLabel">{{'Record Detail'|translate}}</h5>
       
        <button type="button" class="close px-2 py-0" data-dismiss="modal" (click)="closeModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="modal-body p-1">
        <table class="table csv-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{'Sr. No.'|translate}}</th>
                <th scope="col">{{'Name'|translate}}</th>
                <th scope="col">{{'DETAILS'|translate}}</th>
              </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of csvResult ; let ind = index; ">
                    <td>{{ind+1}}</td>
                    <td>
                      <span *ngIf="locationType[4] == type">
                        {{item?.name}}
                      </span>
                      <span *ngIf="locationType[4] != type">
                        {{item?.name}}
                      </span>
                      <!-- <span *ngIf="locationType[4] == type">
                        {{item?.record?.name}}
                      </span>  -->
                    
                    </td>
                    <td>{{item?.errorsArray}}</td>
                   
                  </tr>
            </tbody>
          </table>
   
       
    </div>
    
</div>