<div class="modal-content p-4">
    <div class="modal-header position-relative pt-0">
        <h5 class="modal-title custom-title mt-0 w-100 text-center" id="exampleModalLabel">{{title}}</h5>
        <img (click)="closeModal()" class="close" src="../assets/images/cancel.png" aria-label="Close">
        <!-- <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
        </button> -->
    </div>
    <div class="modal-body px-0">
     
      <ul class="record p-0">
          <li *ngFor="let item of redordList">
              <div class="row">
                  <div class="col-6 key"> 
                    {{item.key|translate}}
                  </div>
                  <div class="col-6 value"> 
                    {{item.value}}
                </div>
              </div>
          </li>
      </ul>
       
    </div>
    
</div>