@import '../../../variable.scss';
.record{
    list-style: none;
    line-height: 3;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    .key{
        color: #000;
        font-size: $font-size-12;
    }
    .value{
        color: #666666;
        font-size: $font-size-12;
    }
}
.modal-title{
    font-size: $font-size-14 !important;
}
.close{
    position: absolute;
    width: 20px;
    top: 10px;
    right: 10px;
    padding: 0px !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E1E1E1; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-radius: 50px;
    background: #9A9A9A; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }