<div *ngIf="tableData.length>0" class="col-md-12 bg-white location-table mt-3 p-0 table-responsive">
  <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="12" class="mail-head ">
              <div class="d-flex">
                  <h5 class="table-title pt-2">{{'LOCATION.List_of' | translate}} {{title | capitalfirstLetter |translate}}</h5>
                  
                  <div class="form-inline ml-auto mr-2 search-filter">
                    <select class=" form-control mr-2 w-auto" [(ngModel)]="tablePageLimit" (change)="tablelimit($event)"> 
                      <option *ngFor="let item of dropdownPages" [value]="item" >{{item}}</option>
                    </select>
                    <button  *ngIf="export" type="button" class="btn btn-common" (click)="generateExcel()"> <img height="25px" src="../assets/images/download-down-arrow.svg"></button>
                  </div>
              </div>
          </th>
        </tr>
        <tr>
          <th  *ngFor="let item of tableFilds ; let i = index; " scope="col">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData  | paginate: { itemsPerPage: tablePageLimit, currentPage: firstPage,totalItems: totalItems } ; let i = index;">
          <td scope="row" class="w-70">{{((firstPage-1)*tablePageLimit)+i+1}}</td>
          <!-- edit = false -->
          <td *ngIf="(!item.edit && language == otherLanguage?.configurableValue?.abbreviation) && locationType!==locationTab[4]">{{item['name_' + otherLanguage?.configurableValue?.abbreviation]}}</td>
          <td *ngIf="item.edit && language == otherLanguage?.configurableValue?.abbreviation">
            <input class="countryInput bg-white" type="text" dir="rtl" (keydown)="onKeydown($event,i)" [(ngModel)]="tableData[i]['name_' + otherLanguage?.configurableValue?.abbreviation]">
            <p class="emptyValueError_div" *ngIf="emptyValueError">{{validationErrorMessage}}</p>
          </td>
          <td *ngIf="!item.edit || language == otherLanguage?.configurableValue?.abbreviation">{{item.name}}</td>
          <td *ngIf="item.edit && language == 'en'">
            <input class="countryInput bg-white" type="text" (keydown)="onKeydown($event,i)" [(ngModel)]="tableData[i].name">
            <p class="emptyValueError_div" *ngIf="emptyValueError">{{validationErrorMessage}}</p>
          </td>
        
          <td *ngIf="item.cityId">{{language == 'en'?item.city.name:item.city['name_'+otherLanguage?.configurableValue?.abbreviation]}}</td>
          <td *ngIf="item.districtId">{{language == 'en'?item.district.name:item.district['name_'+otherLanguage?.configurableValue?.abbreviation]}}</td>
          <td *ngIf="item.stateId">{{language == 'en'?item.state.name:item.state['name_'+otherLanguage?.configurableValue?.abbreviation]}}</td>
          <td *ngIf="item.countryId">{{language == 'en'?item.country.name:item.country['name_'+otherLanguage?.configurableValue?.abbreviation]}}</td>
          <td>{{item.createdAt| date:'dd MMM y'}}</td>
          <td>{{item.updatedAt| date:'dd MMM y'}}</td>
          <td *ngIf="!item.edit && item.isActive == 0" class=""><div Tooltip='InActive' class="ml-3 red-dot">●<span class="down-arrow red"></span></div></td>
          <td *ngIf="!item.edit && item.isActive == 1" class=""><div Tooltip='Active'   class="ml-3 green-dot">●<span class="down-arrow green"></span></div></td>


         
          <td  *ngIf="!item.edit" class="w-70 text-center">
            <div class="d-flex align-items-center">
          <div [matTooltip]="!edit ? 'Access denied' : null" matTooltipPosition="below"><img height="18px" [ngClass]=" !edit  ? 'disablebutton' : '' " (click)="editLocation(i)"  src="../assets/images/edit.png" class="mr-2 pointer"   >
          </div>
          <div [matTooltip]="!delete ? 'Access denied' : null"  *ngIf="item.id!==1 || (locationType ==='district' || locationType ==='zipcode' || locationType ==='city')" matTooltipPosition="below"><img height="18px" class="pointer" [ngClass]=" !delete  ? 'disablebutton' : '' "  (click)="deleteLocation(i)" src="../assets/images/delete.png" ></div>  
        </div>
        </td>

          <td *ngIf="item.edit">
              <label class="switch">
                  <input  (click)="func(item)" type="checkbox"  [checked]="item.status">
                  <span   class="slider round "></span>
              </label>
          </td>
          <td *ngIf="item.edit" class="w-85 text-center">
              <img (click)="saveLocation(i,$event)"  class="pointer mr-2" src="../assets/images/save_icon.svg">
              <img (click)="dontSaveLocation(i)" class="pointer" src="../assets/images/dont_save_icon.svg">
          </td>
        </tr>
        
      </tbody>
    </table>
</div>

<pagination-controls  responsive="true" class="float-right mt-4" previousLabel="" nextLabel="" (pageChange)="changePage($event)"></pagination-controls>


