// / The switch - the box around the slider /
.location-table{
    border-radius: 8px;
}

.table-title {
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal medium 18px/24px DM Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 24px;
    margin-bottom: 0;
  }
  
//   / Hide default HTML checkbox /
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
//   / The slider /
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #15b14c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #15b14c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
//   / Rounded sliders /
  .slider.round {
    border-radius: 24px;
    // margin-top: 0.2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.countryInput{
    width: 200px;
    margin-left: 0px;
}

.btn-common img{
  margin-right: 0px;
}

.fa-circle-check{
  color: #15B14C;
}

.fa-circle-xmark{
  color: #FF5A5A;
}

*[tooltip].red-dot{
  &:hover{
      &::after{
          background: #ffe8e8 !important;
          color: red !important;
          border-color: red;
          padding: 1px 15px !important;
          // left: -17% !important;
      }
      &::before{
          border-color: red transparent !important;
      }
  }
}


*[tooltip]:hover::after{
  background: #fff !important;
  bottom: 23px;
  color: #15B14C !important;
  content: attr(tooltip);
  padding: 1px 15px !important;
  position: absolute;
  z-index: 98;
  left: -10.15%!important;
  width: 230px;
  text-shadow: none;
  font-size: 12px;
  line-height: 1.5em;
  border: 1px solid #15B14C;
  border-radius: 5px !important;
  width: fit-content !important;
  white-space: nowrap;
}
*[tooltip]:hover{
  .down-arrow{
    display: block;
  }
}
.down-arrow{
  bottom: 20px;
  left: 0%;
  position: absolute;
  z-index: 99;
  border: 0px solid transparent!important;
  transform: rotate(45deg);
  height: 8px;
  width: 8px;
  display: none;
  &.red{
    background: #ffe8e8;
  }
  &.green{
    background: #E7FDE5;
  }
}

.table-footer{
  background-color: red;
}


.table-type{
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal medium 18px/24px DM Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.emptyValueError_div{
  color: red;
}
.disablebutton{
  pointer-events: none;
}