<div *ngIf="view == true">
    <div class=" d-flex align-items-center mb-3">
        <h4 class="mr-3 block-title mb-0 location-title">Staff Management</h4>  
        <!-- <button type="button" *ngIf="!createRole" class="btn btn-common dark ml-auto"  (click)="showCreateRoleForm()"><i class="fa-solid fa-plus mr-2"></i>Create Role</button> -->
    </div>
    
    <div class="card c-d-card" *ngIf="!viewrole">
        <div class="card-header">
            <h5 class="table-titile mb-0">List of Staff</h5>
        </div>
        <div class="card-body location-table table-responsive p-0" *ngIf="listTable">
            <table class="table table-striped">
                <thead class="w-100">
                    <tr>
                        <th *ngFor="let item of staffFields " class="font-weight-bold">{{item}}</th>
                    </tr>
                </thead>
                <tbody class="w-100">
                    <tr *ngFor="let item of staffRecords">
                        <td>{{item.firstName?item.firstName+' '+item.lastName:item.username}}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li *ngFor="let item1 of item.roles" class="w-s-nowrap my-2">
                                    {{item1.name}}
                                </li>
                            </ul>
                        </td>
                        <td class="w-85 text-center">
                            <ul class="list-unstyled">
                                <li *ngFor="let item1 of item.roles" class="my-2">
                                    <img src="../../../../assets/images/eye.png" width="20px" height="12px" alt="" (click)="callview(item1)">
    
                                </li>    
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div>
        <app-create-roles *ngIf="viewrole" [roleId]="roleId" [roleValue]="roleValue" [roleName]="roleName" [staff]="staff" [editRole]="editRole" (back)="hideRoleForm()"></app-create-roles>
        
    </div>
</div>

