<div class="header d-flex flex-wrap align-items-center">
    <div class="page-title">
        <h4 class="mr-3 block-title my-0">{{ 'User Management' | translate }}</h4>
        <h5 class="mb-0 mt-2"><span class="back mr-1">{{ 'Back' | translate }} /</span>{{'User Management' | translate }}</h5>
    </div>
   
    <!-- <button type="button" class="btn btn-common ml-auto mr-2" [ngClass]="{'bg-gray':(showFilters == true) }" (click)="searchFilter()"> <img src="../assets/images/filter.png">{{'Select Filter' | translate}}</button> -->
    <!-- <div class="position-relative ml-auto">
   
        <button type="button" class="btn btn-common " [ngClass]="{'bg-gray':(showDataFilter == true) }"  (click)="openDateFilter(campaignOnePicker)"> <img src="../assets/images/date.png">{{'Select Date' | translate}}</button>
        <mat-date-range-input
        [formGroup]="campaignOne"
        [rangePicker]="campaignOnePicker">
        <input matStartDate placeholder="Start date" formControlName="start" class="d-none">
        <input matEndDate placeholder="End date" formControlName="end" class="d-none" (dateChange)="selectDate($event)">
      </mat-date-range-input>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </div> -->
   
  </div>

    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="card user-card col-lg-3 col-md-3 col-sm-3 col-12 p-3 mr-3">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-block px-2">
                            <h4 class="card-title m-0">{{activeUSer}}</h4>
                            <p class="card-text"><span class="green-dot mr-1">●</span>{{'Under Data Configuration' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-auto pt-2">
                        <img src="../assets/images/user.png" class="img-fluid" alt="">
                        <img src="../assets/images/user.png" class="img-fluid" alt="">
                        <img src="../assets/images/user.png" class="img-fluid" alt="">
                    </div>
                    
                </div>
          </div>
          <div class="card user-card col-lg-3 col-md-3 col-sm-3 col-12 p-3">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title m-0">{{terminated}}</h4>
                        <p class="card-text"><span class="red-dot mr-1">●</span>{{'Inactive Users' | translate}}</p>
                    </div>
                </div>
                <div class="col-auto pt-2">
                    <img src="../assets/images/user.png" class="img-fluid" alt="">
                    <img src="../assets/images/user.png" class="img-fluid" alt="">
                    <img src="../assets/images/user.png" class="img-fluid" alt="">
                </div>
                
            </div>
      </div>
        </div>
      
    </div>
    <div class="col-md-12 mt-3 date-filter ">
        <app-date-picker (dateFilterSearch)="dateFilterSearch($event)"></app-date-picker>
    </div>

<div class="row mt-2">
    <app-available-list *ngIf="listTable" [tablename]="tableName" [firstPage]="firstPage" [shorting]="true" [searching]="true" [recordList]="userTable" [editInputs]="false" [shortingFilters]="shortingFilters" [columnCount]="columnCount" [showFilters]="showFilters" [showNoData]="showNoData" [totalItems]="totalItems" [tableFields]="usetTableFields" [searchFields]="usetTablSearchFields" (listApiCall)="listApiCall($event)" (searchCall)="keySearch($event)" (viewInfo)="viewInfo($event)" class="w-100"></app-available-list>
  
</div>