@import '../../../../variable.scss';
.page-title{
    h4{
        font-size: $font-size-22;
    }
    h5{
        font-size: $font-size-14;
        .back{
            color: #707070;
        }
    }
}
.date-filter{
    background-color: #fff;
    border-radius: 8px;
}
.mail-head{
    border-bottom: 1px solid #E9E9E9;
}
.table-title{
    font-size: $font-size-18;
}
table{
    background-color: #fff !important;
    border-radius: 8px !important;
    thead{
        tr{
            th{
                font-size: $font-size-14;
                font-weight: 500;
            }
        }
    }
    tbody{
        tr{
            th{
                font-size: $font-size-14;
                font-weight: 300;
            }
            td{
                img{
                    width: 18px;
                }
                font-size: $font-size-14;
                font-weight: 300;
            }
        }
    }
}
.user-card{
    border: none;
    border-radius: 8px;
    .col-auto{
        img{
            width: 36px;
            border-radius: 20px;
            border: 1px solid #fff;
            margin-left: -15px;
        }
    }
    .card-block{
        .card-title{
            font-size: $font-size-24;
            font-weight: bold;
        }
        .card-text{
            font-size: $font-size-16;
            font-weight: 400;
        }
    }
}


.search-box{
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 21px 8px #00000012;
    opacity: 1;
    border-radius: 8px;
    left: -8px;
    top: 20px;
    .fa-sort-up{
        position: absolute;
        bottom: 18px;
    }
    
}