  <form [formGroup]="dateForm">
    <div class="row">
            <div class="col-md-12 py-3 pb-4">
              <ul class="list-unstyled d-flex align-self-end flex-wrap">
                <li class="d-flex align-items-center mr-2 my-1">
                  <div class="d-flex">
                    <p class="date-lable m-0 pt-1 mr-2">{{'DATE_PICKER.FROM_DATE'| translate}}<span class="mandatory" >*</span></p>
                    <mat-form-field color="accent" appearance="fill"  (click)="picker1.open()" >
                        <input matInput [matDatepicker]="picker1" placeholder="Please Select From Date" formControlName="start" [max]="endDate" readonly (dateChange)="setdate($event)" class="">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 color="primary"  disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="validation-div error-msg-start" *ngIf="dateForm.controls['start'].errors?.required" >
                    <p class="mb-0">{{errorMsg.start.required}}</p>
                </div>
                </li>
                <li class="align-items-center mr-2 my-1">
                  <div class="d-flex">
                    <p class="date-lable m-0 pt-1 mr-2 ">{{'DATE_PICKER.TO_DATE' | translate}}<span class="mandatory" >*</span></p>
                    <mat-form-field color="accent" appearance="fill" (click)="picker2.open()" >
                        <input matInput [matDatepicker]="picker2" formControlName="end" readonly placeholder="Please Select To Date"  [max]="today" (dateChange)="setEndDate($event)" [min]="startdate" class="">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary" disabled="false" ></mat-datepicker>
                    </mat-form-field>
                  </div>
                 
                  <div class="validation-div error-msg-end" *ngIf="dateForm.controls['end'].errors?.required" >
                    <p class="mb-0 ml-3 pl-5">{{errorMsg.end.required}}</p>
                </div>
                </li>
                <li class="d-flex align-items-center mr-2 my-1">
                  <button type="button" class="btn-yellow-search-common mr-2 py-1"  (click)="dateFilter()">{{'Search' | translate}}</button>
                  <button type="button" class="btn-common-reset py-1" (click)="resetFilter()">{{'DATE_PICKER.RESET' | translate}}</button>
                </li>
              </ul>
            </div>
    </div>
</form>