@import '../../../../variable.scss';
.btn-yellow-common{
    padding-inline: 17px !important;
    border: none !important;
}
.btn-common{
    padding-inline: 17px !important;
}
.error-msg-date{
    position: absolute !important;
    color: #FF5A5A !important;
}