<div  class="container-fluid bg-white rounded-lg pb-2">
    <form [formGroup]="locationParam" role="form">

    <div class="row  align-items-start search-title border-bottom">
        <div class="d-flex p-3">
            <h5 *ngIf="createLocation" class="table-title mb-0">{{'LOCATION.Create' | translate}} {{locationType | capitalfirstLetter}}</h5>
            <h5 *ngIf="!createLocation" class="table-title mb-0">{{'LOCATION.Search' | translate}} {{locationType | capitalfirstLetter}}</h5>
        </div>
        <button *ngIf="!forminputs.zipCode" class="language-en-btn ml-auto mr-0 py-1 my-3" [ngClass]="{'yellow-bg': language == 'en'}" type="button" (click)="changeLanguage('en')" >{{'en' | uppercase}}</button>
        <button *ngIf="!forminputs.zipCode" class="language-ar-btn py-1 my-3" [ngClass]="{'yellow-bg': language == otherLanguage?.configurableValue?.abbreviation}" type="button" (click)="changeLanguage(otherLanguage?.configurableValue?.abbreviation)" >{{otherLanguage?.configurableValue?.abbreviation | uppercase}}</button>
    </div>
    <!-- <div *ngIf="!forminputs.zipCode" class="col-lg-4 col-md-4 col-sm-6 mt-3 mb-2 col-xs-12 form-group p-0">
        <div class="statusContainer">
            <label class="mainLabel" for="language">{{'Language' | translate}}</label>
            <div class="statusInputs">
                <mat-radio-group formControlName="language" (change)="changeLanguage()" aria-label="Select an option">
                   
                    <mat-radio-button   value='en' name="language">{{'English'| translate}}</mat-radio-button>
                    <mat-radio-button  value='ar'>{{'عربى' | translate}}</mat-radio-button>
                </mat-radio-group>
            </div>               
        </div>
    </div> -->
    <div class="row  align-items-start my-2">

        <!-- country -->
        <!-- input -->
        
        <div *ngIf="forminputs.countryName" class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.Country_dropdown_lable' | translate}}<span class="mandatory" *ngIf="createLocation">*</span></label>
                <input class="countryInput" (paste)="checkInput($event)" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (keydown)="checkInput($event)" formControlName="countryName" type="text" placeholder="{{'LOCATION.Enter_country_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message  [control]="locationParam.controls['countryName']" [messages]="errorMsg.countryName">
                    </app-validation-message>
                </div>  
            </div>
        </div>

        <!-- <div *ngIf="forminputs.countryName && locationParam.get('language').value == 'ar'" class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.Country_dropdown_lable' | translate}}</label>
                <input class="countryInput" (paste)="checkInput($event)" dir="rtl" (keydown)="checkInput($event)" formControlName="countryNameArabic" type="text" placeholder="{{'LOCATION.Enter_country_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message  [control]="locationParam.controls['countryNameArabic']" [messages]="errorMsg.countryNameArabic">
                    </app-validation-message>
                </div>  
            </div>
        </div> -->

        <!-- dropdown -->
        <div *ngIf = "forminputs.countryNameDropdown" class="col-md-4 inputs my-2 d-flex justify-content-start "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.Country_dropdown_lable' | translate}}<span class="mandatory" *ngIf="createLocation">*</span></label>
                <select  formControlName="countryNameDropdown" class="countryInput bg-white" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (change)="onSelectDropdown('countryNameDropdown','state')">
                    <option value="" >{{'LOCATION.Please_Select' | translate}}</option>
                    <option *ngFor="let country of country" [value]="country.id">
                      {{locationParam.get('language').value == 'en' ?country.name:country.arabic}}
                    </option>
                </select> 
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['countryNameDropdown']" messages="{{errorMsg.countryNameDropdown | translate}}">
                    </app-validation-message>
                </div>
            </div>
        </div>
      

        <!-- state -->

        <!-- input -->
        <!-- <div *ngIf="forminputs.stateName && locationParam.get('language').value == 'ar'" class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.State_dropdown_lable' | translate}} </label>
                <input class="countryInput" (paste)="checkInput($event)" dir="rtl" (keydown)="checkInput($event)" formControlName="stateNameArabic" type="text"  placeholder="{{'LOCATION.Enter_state_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['stateNameArabic']" [messages]="errorMsg.stateNameArabic">
                    </app-validation-message>
                </div>
            </div>
        </div> -->

        <div *ngIf="forminputs.stateName" class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.State_dropdown_lable' | translate}} <span class="mandatory" *ngIf="createLocation">*</span></label>
                <input class="countryInput" (paste)="checkInput($event)" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (keydown)="checkInput($event)" formControlName="stateName" type="text"  placeholder="{{'LOCATION.Enter_state_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['stateName']" [messages]="errorMsg.stateName">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <!-- dropdown -->
        <div *ngIf = "forminputs.stateNameDropdown" class="col-md-4 inputs my-2 d-flex justify-content-start "  >
           <div class="country w-100">
                 <label class="mainLabel" for="">{{'LOCATION.State_dropdown_lable' | translate}}</label>
                <select formControlName="stateNameDropdown" class="countryInput bg-white" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (change)="onSelectDropdown('stateNameDropdown','district')" >
                    <option value="" >{{'LOCATION.Please_Select' | translate}}</option>
                    <option *ngFor="let item of state" [value]="item.id" >
                      {{locationParam.get('language').value == 'en' ?item.name:item.arabic }}
                    </option>
                </select> 
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['stateNameDropdown']" messages="{{errorMsg.stateNameDropdown | translate}}">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <!-- District -->

        <!-- input -->
        <div  *ngIf="forminputs.districtName"  class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.District_dropdown_lable' | translate}}<span class="mandatory" *ngIf="createLocation">*</span></label>
                <input formControlName="districtName" (paste)="checkInput($event)" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (keydown)="checkInput($event)" class="countryInput" type="text" placeholder="{{'LOCATION.Enter_district_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['districtName']" [messages]="errorMsg.districtName">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <!-- <div  *ngIf="forminputs.districtName && locationParam.get('language').value == 'ar'"  class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.District_dropdown_lable' | translate}}</label>
                <input formControlName="districtNameArabic" (paste)="checkInput($event)" dir="rtl" (keydown)="checkInput($event)" class="countryInput" type="text" placeholder="{{'LOCATION.Enter_district_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['districtNameArabic']" [messages]="errorMsg.districtNameArabic">
                    </app-validation-message>
                </div>
            </div>
        </div> -->

        <!-- dropdown -->
        <div *ngIf = "forminputs.districtNameDropdown " class="col-md-4 inputs my-2 d-flex justify-content-start " >
           <div class="country w-100">
                 <label class="mainLabel" for="">{{'LOCATION.District_dropdown_lable' | translate}}</label>
                <select formControlName="districtNameDropdown" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (change)="selectDistrict()" class="countryInput bg-white" >
                    <option  value="" >{{'LOCATION.Please_Select' | translate}}</option>
                    <option *ngFor="let item of district" [value]="item.id">
                        {{locationParam.get('language').value == 'en' ?item.name:item.arabic }}
                    </option>
                </select> 
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['districtNameDropdown']" messages="{{errorMsg.districtNameDropdown | translate}}">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <!-- city -->

        <!-- input -->
        <div  *ngIf="forminputs.cityName"  class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.City_dropdown_lable' | translate}}<span class="mandatory" *ngIf="createLocation">*</span></label>
                <input formControlName="cityName" (paste)="checkInput($event)" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" (keydown)="checkInput($event)" class="countryInput" type="text" placeholder="{{'LOCATION.Enter_city_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['cityName']" [messages]="errorMsg.cityName">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <!-- <div  *ngIf="forminputs.cityName && locationParam.get('language').value == 'ar'"  class="col-md-4 inputs my-2 "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.City_dropdown_lable' | translate}}</label>
                <input formControlName="cityNameArabic" (paste)="checkInput($event)" dir="rtl" (keydown)="checkInput($event)" class="countryInput" type="text" placeholder="{{'LOCATION.Enter_city_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['cityNameArabic']" [messages]="errorMsg.cityNameArabic">
                    </app-validation-message>
                </div>
            </div>
        </div> -->

        <!-- dropdown -->
        <div *ngIf = "forminputs.cityNameDropdown" class="col-md-4 inputs my-2  "  >
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.City_dropdown_lable' | translate}}<span class="mandatory" *ngIf="createLocation">*</span></label>       
                <select formControlName="cityNameDropdown" [dir]="locationParam.get('language').value == otherLanguage?.configurableValue?.abbreviation ?'rtl':'ltr'" class="countryInput bg-white" (change)="selectCity()">
                    <option value="" >{{'LOCATION.Please_Select' | translate}}</option>
                    <option *ngFor="let item of city" [value]="item.id">
                        {{locationParam.get('language').value == 'en' ?item.name:item.arabic }}
                    </option>
                </select> 
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['cityNameDropdown']" messages="{{errorMsg.cityNameDropdown | translate}}">
                    </app-validation-message>
                </div>
            </div>
        </div>

        <!-- Zip-code -->

        <!-- input -->

        <div  *ngIf="forminputs.zipCode"  class="col-md-4 inputs my-2 ">
            <div class="country w-100">
                <label class="mainLabel" for="">{{'LOCATION.Zipcode_dropdown_lable' | translate}}<span class="mandatory" *ngIf="createLocation">*</span></label>
                <input formControlName="zipcodeName" (paste)="checkInput($event)" (keydown)="checkInput($event)" class="countryInput" type="text" placeholder="{{'LOCATION.Enter_zipcode_name' | translate}}">
                <div class="validation-div">
                    <app-validation-message [control]="locationParam.controls['zipcodeName']" [messages]="errorMsg.zipcodeName">
                    </app-validation-message>
                </div>
            </div>
        </div>
       
        
    </div>

    <div class="row align-items-start my-2">
        <!-- status radio button search page -->
        <div *ngIf="!createLocation" class="col-md-12 my-2 inputs">
            <div class="statusContainer">
                <label class="mainLabel" for="status">{{'LOCATION.Status' | translate}}</label>
                <div class="statusInputs">
                    <mat-radio-group formControlName="status" aria-label="Select an option">
                        <mat-radio-button  value=100>{{'LOCATION.All' | translate}}</mat-radio-button>
                        <mat-radio-button   value=1 name="status">{{'LOCATION.Active' | translate}}</mat-radio-button>
                        <mat-radio-button  value=0>{{'LOCATION.Inactive' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </div>               
            </div>
        </div>
       
        <!-- status switch enable disable  create page  -->
        <div *ngIf="createLocation" class="inputs mb-4 d-flex justify-content-start align-self-end col-md-4"  >
            <div class="country w-100">
                <div class="enable_status_Container mt-2 rounded-lg w-100">
                    <p class="enable_status_Container_left ml-2">{{'LOCATION.Status' | translate}}  </p>
                    <div class="enable_status_Container_right  mr-2">
                        <p class="enablePara" style="color: green;" *ngIf="isChecked">{{'LOCATION.Active' | translate}}</p>
                        <p class="enablePara" style="color: red;" *ngIf="!isChecked">{{'LOCATION.Inactive' | translate}}</p>
                        <label class="switch ml-3">
                            <input formControlName="isChecked" type="checkbox"  [(ngModel)]="isChecked">
                            <span   class="slider round "></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" buttonDiv mt-0">
        <!-- search page button -->
        <button class="search-btn mr-2" *ngIf="!createLocation" type="submit" (click)="onSubmit(true)" >{{'LOCATION.Search' | translate}}</button>
        <button class="reset-btn mr-0" *ngIf="!createLocation" (click)="resetForm()" >{{'LOCATION.Reset' | translate}}</button>
        <!-- create page button -->
        <button class="search-btn mr-2" *ngIf="createLocation" type="submit"   (click)="onSubmit(false)" >{{'LOCATION.Save' | translate}}</button>
        <button type="button" class="reset-btn mr-0"  *ngIf="createLocation" (click)="back.emit()">{{'LOCATION.Cancel' | translate}}</button>
    </div>
</form>
</div>

        
    
<app-location-table *ngIf="locationList.length > 0 && createLocation == false" [edit]="edit" [delete]="delete" [export]="export" [otherLanguage]="otherLanguage" [language]="language" [pageSet]="firstPage" [firstPage]="firstPage" (listApiCall)="listApiCall($event)" (pageChange)="pageChange($event)" [title]="locationType" [totalItems]="totalItems" [showNoData]="showNoData" [tableData]="locationList" [locationType]="locationType" [tableFilds]="tableFilds"  (generateExcelFile)="downloadCSV()" ></app-location-table>

<div class="col-md-12 p-0 mt-2" *ngIf="locationList.length == 0 && createLocation == false">
    <div class="bg-white col-md-12 no-record">
        <div class="no-record-content">
            <img style="width: 410px;height: 268px;" src="../assets/images/no-record.png">
            <p class="no-record-title mb-0 mt-2">{{'Available_list.No' | translate}} {{locationType | capitalfirstLetter }} {{'Available_list.Found' | translate}}</p>
        </div>
    </div>
</div>

  
